<!--
 * @Date: 2021-04-12 19:12:50
 * @Author: cxa
 * @LastEditors: cxa
 * @LastEditTime: 2021-04-12 19:40:52
 * @FilePath: /danDD/src/components/Platform/index.vue
 * @Description:
-->
<template>
  <el-select v-model="selected" :disabled="disabled">
    <el-option
      v-for="v in options"
      :key="v.key"
      :label="v.label"
      :value="v.key"
    />
  </el-select>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
// const
import { Platforms } from '@/utils/const'
@Component({
  name: 'Platform'
})
export default class extends Vue {
  @Prop({ required: false }) private disabled!: boolean
  private options = Platforms

  public selected = ''
}
</script>
