<template>
  <div class="container audit">
    <el-tabs v-model="activeTab" @tab-click="changeTabFn">
      <el-tab-pane
        v-for="v in tabsArr"
        :key="v.key"
        :label="v.label"
        :name="v.key"
      >
        <el-table
          :data="list"
          border
          stripe
        >
          <el-table-column
            v-for="v in tableData"
            :key="v.id"
            :label="v.label"
            :prop="v.prop"
            :width="v.width"
          >
            <template slot-scope="scope">
              <img v-if="v.prop === 'img'" :src="scope.row[v.prop]" />
              <span v-else>{{ scope.row[v.prop] }}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button v-if="scope.row.status === 'init'" type="primary" size="mini" @click="auditFn(scope.row.id)">审核</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="pagination">
          <el-pagination
            background
            layout="prev, pager, next"
            :total="total"
            :page-size="pageSize"
            @current-change="currChange"
          />
        </div>
      </el-tab-pane>
    </el-tabs>
    <el-dialog
      :visible.sync="visible"
      title="审核"
      width="420px"
    >
      <el-form inline>
        <el-row>
          <el-form-item label="审核状态" label-width="100px">
            <el-select v-model="auditForm.status">
              <el-option v-for="v in statusArr" :key="v.key" :label="v.label" :value="v.key"/>
            </el-select>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label="备注" label-width="100px">
            <el-input v-model="auditForm.remark" placeholder="审核备注" />
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label=" " label-width="100px">
            <el-button type="primary" @click="auditConfirmFn()">确认</el-button>
          </el-form-item>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// modules
import { AuditModule } from '@/store/modules/audit'

@Component({
  name: 'Audit',
  components: {}
})
export default class Audit extends Vue {
  private visible = false // 审核弹窗显隐
  private shops = [] // 店铺列表
  private form = {
    shop_id: '', // 店铺id
    category_id: '' // 任务类型id
  }

  private tabsArr = [
    { label: '任务', key: 'task' },
    { label: '提现', key: 'withdraw' },
    { label: '充值', key: 'recharge' }
  ]

  private list = [] // 列表
  private activeTab = 'task' // 当前tab
  private total = 0 // 列表总数

  private tableData = [
    { label: '商家编号', prop: 'user_id' },
    { label: '审核类型', prop: 'action' },
    { label: '审核状态', prop: 'status_desc' },
    { label: '审核内容', prop: 'content' },
    { label: '审核相关图片（视频）', prop: 'img' },
    { label: '操作人编号', prop: 'ops_id' },
    { label: '备注', prop: 'remark' },
    { label: '开始时间', prop: 'create_time', width: '150px' },
    { label: '更新时间', prop: 'update_time', width: '150px' }
  ]

  private statusArr = [ // 审核状态数组
    { label: '通过', key: 'pass' },
    { label: '拒绝', key: 'fail' }
  ]

  private auditForm = {
    id: '',
    status: 'pass', // 状态
    remark: '' // 备注
  }

  private page = 1 // 页码
  private pageSize = 10 // 每页数量

  mounted() {
    this.getList()
  }

  // tab切换
  private changeTabFn() {
    this.getList()
  }

  // 确认审核
  private auditConfirmFn() {
    const payload = {
      ...this.auditForm
    }
    AuditModule.HandleAudit(payload).then(res => {
      if (res) {
        this.$message.success('已审核')
        this.visible = false
        this.getList()
      }
    })
  }

  // 审核
  private auditFn(id: string) {
    this.auditForm.id = id
    this.visible = true
  }

  // 修改页码
  private currChange(val: number) {
    this.page = val
    this.getList()
  }

  // 获取列表
  private getList() {
    const { page, pageSize } = this
    const params = {
      page,
      page_size: pageSize,
      action: this.activeTab
    }
    AuditModule.AuditList(params).then(res => {
      if (res) {
        const { list, count } = res
        this.list = list
        this.total = count
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.audit {
  .pagination {
    margin-top: 16px;
    text-align: right;
  }
}
</style>
