<template>
  <div class="psd">
    <div class="psd-content">
      <h5 class="psd-title">忘记密码</h5>
      <el-form ref="psdForm">
        <el-row :gutter="20">
          <el-col :span="v.span || 12" v-for="v in formData" :key="v.key">
            <el-form-item>
              <el-row type="flex">
                <el-input :placeholder="v.placeholder" v-model="psdForm[v.key]" />
                <img v-if="v.key === 'code'" src="@/assets/404-images/404.png" class="img-code" />
                <el-button type="primary" v-if="v.key === 'valid_code'" class="send-sms">获取短信验证码</el-button>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-button type="primary" class="submit-btn" @click="changePsd()">提交重置密码</el-button>
        </el-row>
        <div class="to-login">
          <a @click="$router.push('/login')">已有账户，前往登录</a>
        </div>
      </el-form>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { UserModule } from '@/store/modules/user'

@Component({
  name: 'Forget'
})
export default class Forget extends Vue {
  private name = 'ddd'

  private psdForm = {
    mobile: '13100000001', // 手机号码
    code: '', // 图形验证码
    valid_code: '', // 短信验证码
    password: 'aa111111', // 密码
    psdConfirm: '' // 确认密码
  }

  private formData = [
    { placeholder: '手机号码', key: 'mobile', span: 24 },
    { placeholder: '验证码', key: 'code' },
    { placeholder: '短信验证码', key: 'valid_code' },
    { placeholder: '新密码', key: 'password', span: 24 },
    { placeholder: '确认密码', key: 'psdConfirm', span: 24 }
  ]

  private async changePsd() {
    console.log(this.psdForm)
    const { mobile, password, valid_code: validCode } = this.psdForm
    await UserModule.ChangePsd({ mobile, password, valid_code: validCode }).then(res => {
      console.log('res: ---->', res)
    })
  }
}
</script>
<style lang="scss">
.psd {
  padding: 48px;
  overflow: scroll;
  &-title {
    text-align: center;
    font-size: 24px;
    margin: 16px 0 32px;
  }
  &-content {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 10px #bbb;
    .img-code {
      width: 100px;
      height: 36px;
      border: 1px solid #ddd;
      margin-left: 8px;
    }
    .send-sms {
      margin-left: 8px;
    }
    .agreement {
      color: #666;
      a {
        color: #1890ff;
      }
    }
    .submit-btn {
      width: 100%;
    }
    .to-login {
      text-align: center;
      padding: 24px 16px;
      a {
        color: #666;
        cursor: pointer;
      }
    }
  }
}
</style>
