<template>
  <div class="container business">
    <el-form inline>
      <el-form-item label="用户名">
        <el-input v-model="searchForm.username" />
      </el-form-item>
      <el-form-item label="手机号码">
        <el-input v-model="searchForm.mobile" />
      </el-form-item>
      <el-form-item label="注册时间">
        <el-date-picker
          v-model="searchForm.daterange"
          type="datetimerange"
          value-format="yyyy-MM-dd HH:mm:ss"
          :default-time="['00:00:00', '23:59:59']"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
        />
      </el-form-item>
      <el-button type="primary" @click="searchFn()">搜索</el-button>
    </el-form>
    <p class="color-red f12">注：密码重置后，默认密码为该商家的注册手机号码</p>
    <el-table
      :data="list"
      border
      stripe
    >
      <el-table-column label="商家编号" prop="id"></el-table-column>
      <el-table-column label="用户名" prop="username"></el-table-column>
      <el-table-column label="手机号码" prop="mobile"></el-table-column>
      <el-table-column label="注册时间" prop="create_time"></el-table-column>
      <el-table-column label="更新时间" prop="update_time"></el-table-column>
      <el-table-column label="操作" width="160px">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="changePass(scope.row.id)">重置密码</el-button>
          <!-- <el-button type="warning" size="mini">查看商家信息</el-button> -->
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        :page-size="pageSize"
        @current-change="currChange"
      />
    </div>
    <el-dialog
      title="修改密码"
      :visible.sync="show"
      width="420px"
      @closed="closedFn"
    >
      <el-form inline label-width="120px">
        <el-row>
          <el-form-item label="商家名称">
            <span>商家名称</span>
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label="新密码">
            <el-input v-model="newPass" placeholder="请输入新密码" />
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label="确认密码">
            <el-input v-model="confirmPass" placeholder="请确认密码" />
          </el-form-item>
        </el-row>
        <el-row>
          <el-form-item label=" ">
            <el-button type="primary" @click="confirmChange">确认修改</el-button>
          </el-form-item>
        </el-row>
      </el-form>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// modules
import { BusinessModule } from '@/store/modules/business'
import { UserModule } from '@/store/modules/user'
@Component({
  name: 'BusinessList'
})
export default class BusinessList extends Vue {
  private list = [] // 列表
  private total = 0 // 列表总数
  private page = 1 // 页码
  private pageSize = 10 // 每页数量
  private show = false // 修改密码弹窗显隐
  private newPass = '' // 新密码
  private confirmPass = '' // 确认密码

  private searchForm = {
    username: '', // 用户名
    mobile: '', // 手机号码
    daterange: [] // 注册时间
  }

  mounted() {
    this.getList()
  }

  // 搜索
  private searchFn() {
    this.getList()
  }

  // 获取商家列表
  private getList() {
    const { page, pageSize } = this
    const { username, mobile, daterange } = this.searchForm
    const params = {
      page,
      page_size: pageSize,
      username,
      mobile,
      create_time_start: daterange && daterange[0],
      create_time_end: daterange && daterange[1]
    }
    BusinessModule.UserList(params).then(res => {
      if (res) {
        const { count, list } = res
        this.total = count
        this.list = list
      }
    })
  }

  // 切换页码
  private currChange(val: number) {
    this.page = val
    this.getList()
  }

  // 打开修改密码弹窗
  private changePass(id: string) {
    this.$confirm('确认重置该商家密码？', '提示', {
      confirmButtonText: '确认',
      cancelButtonText: '取消',
      type: 'warning'
    }).then(() => {
      UserModule.ResetPass({ user_id: id }).then(() => {
        this.$message.success('密码重置成功！')
      })
    }).catch(() => {
      this.$message({
        type: 'info',
        message: '已取消支付'
      })
    })
  }

  // 关闭弹窗
  private closedFn() {
    this.show = false
  }

  // 确认修改
  private confirmChange() {
    this.show = false
  }
}
</script>
<style lang="scss" scoped>
.business {
  .pagination {
    margin-top: 16px;
    text-align: right;
  }
}
</style>
