<template>
  <div class="account container">
    <h5 class="account-title">店铺管理</h5>
    <el-row class="account-num">
      <label>可用店铺数: </label>
      <span class="num">{{ 10 - list.length }}</span>
      <label>已用店铺数: </label>
      <span class="num">{{ list.length }}</span>
    </el-row>
    <el-button type="primary" @click="openDialog()">添加绑定店铺</el-button>
    <el-table :data="list" border stripe class="mt-8" :header-cell-style="{background: '#f5f7fa'}">
      <el-table-column v-for="v in tableData" :key="v.key" :prop="v.key" :label="v.label"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="warning" size="mini" @click="openDialog(scope.row)">修改</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="添加绑定店铺"
      :visible.sync="visible"
      width="720px"
      @close="handleClose"
      class="add-dialog"
    >
      <el-form inline label-width="120px">
        <el-form-item label="店铺类型" required>
          <Platform ref="platformDom" :disabled="!!addForm.id" />
        </el-form-item>
        <el-form-item label="主营类目" required>
          <Selector ref="categoryDom" :disabled="!!addForm.id" type="category" :params="{type: 'sell'}" />
        </el-form-item>
        <el-form-item label="店铺掌柜号" required>
          <el-input v-model="addForm.shop_sn" :disabled="!!addForm.id" placeholder="请输入商家淘宝账号" class="add-dialog-input" />
        </el-form-item>
        <el-form-item label="店铺名称" required>
          <el-input v-model="addForm.name" :disabled="!!addForm.id" placeholder="请输入店铺名称" class="add-dialog-input" />
        </el-form-item>
        <el-form-item label="店铺链接" required class="mb-8">
          <el-input v-model="addForm.url" :disabled="!!addForm.id" placeholder="请输入店铺首页链接" class="add-dialog-link" />
        </el-form-item>
        <hr class="line" />
        <el-form-item label="店铺组别">
          <el-input v-model="addForm.group" placeholder="请输入店铺组别" class="add-dialog-input" />
        </el-form-item>
        <el-form-item label="复购天数">
          <el-input v-model="addForm.re_day" placeholder="请输入复购天数" class="add-dialog-input" />
        </el-form-item>
        <div class="color-red tips">（注:同类目店铺的后台风控组别，帮助您更好地避免买手交叉操作）</div>
        <hr class="line" />
        <el-form-item label="发货联系人">
          <el-input v-model="addForm.contact_name" placeholder="请输入联系人姓名" class="add-dialog-input" />
        </el-form-item>
        <el-form-item label="发货电话">
          <el-input v-model="addForm.contact_mobile" placeholder="请输入联系人电话" class="add-dialog-input" />
        </el-form-item>
        <el-form-item label="邮编">
          <el-input v-model="addForm.postcode" placeholder="请输入邮编" class="add-dialog-input" />
        </el-form-item>
        <div class="address">
          <el-form-item label="发货地址">
            <Address ref="addressDom" width="518px" />
          </el-form-item>
          <el-form-item label="">
            <el-input v-model="addForm.address" placeholder="请输入详细地址" class="add-dialog-addr" />
          </el-form-item>
        </div>
      </el-form>
      <div class="add-dialog-btm">
        <el-button type="primary" size="large" @click="save(status)" class="add-dialog-btm-btn">保存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// const
import { Platforms } from '@/utils/const'
// modules
import { BusinessModule } from '@/store/modules/business'
// components
import Selector from '@/components/Selector/index.vue'
import Platform from '@/components/Platform/index.vue'
import Address from '@/components/Address/index.vue'

const initAddForm = () => ({
  id: '',
  shop_sn: '', // 店铺掌柜号
  platform: '', // 平台 DY:抖音/JD:京东/KS:快手/PDD:拼多多/TB:淘宝
  name: '', // 店铺名
  group: '', // 店铺组别
  sell_category_id: '', // 主营类目
  url: '', // 店铺链接
  re_day: '', // 复购天数
  contact_name: '', // 联系人
  contact_mobile: '', // 联系人电话
  postcode: '', // 邮编
  province_id: '', // 省id
  province: '', // 省
  city_id: '', // 市id
  city: '', // 市
  county_id: '', // 县id
  county: '', // 县
  address: '' // 详细地址
})
@Component({
  name: 'Shop',
  components: {
    Selector,
    Platform,
    Address
  }
})
export default class Shop extends Vue {
  private visible = false // 添加店铺弹窗显隐
  private addForm: any = initAddForm()
  private list: Array<object> = [] // 店铺列表
  private tableData = [
    { label: '店铺类型', key: 'platform_name' },
    { label: '店铺名称', key: 'name' },
    { label: '店铺掌柜号', key: 'shop_sn' },
    { label: '发件人', key: 'contact_name' },
    { label: '电话', key: 'contact_mobile' },
    { label: '邮编', key: 'postcode' },
    { label: '发货地址', key: 'address' }
  ]

  private status = 'add' // add: 添加店铺，edit: 编辑店铺

  mounted() {
    this.getShopList()
  }

  // 打开添加/编辑弹窗
  private openDialog(item: any = {}) {
    this.status = item.id ? 'edit' : 'add'
    this.visible = true
    if (item.id) {
      setTimeout(() => {
        this.dataShow(item)
      }, 200)
    }
  }

  // 保存
  private save(status: string) {
    const isAdd = status === 'add'
    const { platformDom, categoryDom, addressDom } = this.$refs as any
    this.addForm.platform = platformDom.selected
    this.addForm.sell_category_id = categoryDom.selected
    const codes = addressDom.cityCodes
    const names = addressDom.cityNames
    const province = {
      province_id: codes[0], // 省id
      province: names[0], // 省
      city_id: codes[1], // 市id
      city: names[1], // 市
      county_id: codes[2], // 县id
      county: names[2] // 县
    }
    const payload = { ...this.addForm, ...province }
    BusinessModule[isAdd ? 'AddShop' : 'EditShop'](payload).then((res: Object) => {
      if (res) {
        this.$message.success(`店铺${isAdd ? '添加' : '修改'}成功`)
        this.visible = false
        this.getShopList()
      }
    })
  }

  // 编辑时数据回显
  private dataShow(data: any) {
    const { platformDom, categoryDom, addressDom } = this.$refs as any
    if (platformDom && categoryDom && addressDom) {
      Object.keys(this.addForm).map(key => {
        this.addForm[key] = data[key]
        platformDom.selected = data.platform
        categoryDom.selected = data.sell_category_id
        addressDom.cityCodes = [data.province_id + '', data.city_id + '', data.county_id + '']
        addressDom.cityNames = [data.province, data.city, data.county]
        this.addForm.id = data.id
      })
    }
  }

  // 获取店铺列表
  private getShopList() {
    BusinessModule.GetShop().then(res => {
      if (res) {
        res.list.map((v:any) => {
          const currPalt = Platforms.filter(item => item.key === v.platform)[0] || {}
          v.platform_name = currPalt.label
        })
        this.list = res.list
      }
    })
  }

  // 关闭弹窗
  private handleClose() {
    // 表单重置
    this.addForm = initAddForm()
    this.status = 'add'
    const { platformDom, categoryDom, addressDom } = this.$refs as any
    platformDom.selected = ''
    categoryDom.selected = ''
    addressDom.cityCodes = []
    addressDom.cityNames = []
    this.visible = false
  }
}
</script>
<style lang="scss">
  .account {
    &-title {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin: 0;
      border-left: 4px solid #1890ff;
      padding-left: 8px;
    }
    &-num {
      padding: 16px 0;
      label {
        color: #333;
        font-weight: 500;
        font-size: 14px;
        padding-right: 8px;
      }
      .num {
        color: #ff4949;
        font-size: 24px;
        font-weight: bold;
        padding-right: 48px;
      }

    }
    .add-dialog {
      &-input {
        width: 194px
      }
      &-link, &-addr {
        width: 518px;
      }
      &-addr {
        margin-left: 120px;
      }
      .tips {
        padding-left: 32px;
        padding-bottom: 8px;
      }
      .line {
        margin: 10px 16px 16px;
      }
      &-btm {
        text-align: center;
        &-btn {
          width: 150px;
        }
      }
    }
  }
</style>
