<template>
  <div class="container bank-list">
    <p class="bank-list-title">银行卡绑定</p>
    <el-button type="primary" class="mb-8" @click="show = true">添加银行卡</el-button>
    <el-table
      :data="bankList"
      border
      stripe
    >
      <el-table-column prop="bank_category_name" label="银行"></el-table-column>
      <el-table-column prop="open_bank_name" label="开户行"></el-table-column>
      <el-table-column prop="name" label="开户人"></el-table-column>
      <el-table-column prop="code" label="银行卡号"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button size="mini" type="primary" @click="editFn(scope.row)">编辑</el-button>
          <el-button size="mini" type="warning" @click="delFn(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-dialog
      title="添加银行卡"
      :visible.sync="show"
      width="420px"
      @closed="closedFn"
    >
      <div class="bank">
        <Selector ref="categoryDom" type="category" :params="{type: 'bank'}" class="bank-input" />
        <el-input v-model="formData.open_bank_name" placeholder="开户行（非必填）" class="bank-input"/>
        <el-input v-model="formData.name" placeholder="开户人姓名" class="bank-input" />
        <el-input v-model="formData.code" placeholder="银行卡号" class="bank-input" />
        <el-button type="primary" class="save-btn" @click="saveFn()">保存</el-button>
      </div>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// components
import Selector from '@/components/Selector/index.vue'
// modules
import { UserModule } from '@/store/modules/user'
@Component({
  name: 'Withdraw',
  components: {
    Selector
  }
})
export default class Withdraw extends Vue {
  private bankList = [] // 银行卡列表
  private show = false // 添加银行卡弹窗显隐
  private formData = { // 添加银行卡数据
    bank_category_id: '',
    open_bank_name: '',
    code: '',
    name: '',
    default: '',
    id: ''
  }

  mounted() {
    this.getBankList()
  }

  // 删除
  private delFn(id: string) {
    this.$confirm('确认删除该银行卡?', '提示', {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning'
    }).then(() => {
      UserModule.DelUserBank({ id }).then(res => {
        if (res) {
          this.$message.success('删除成功')
          this.getBankList()
        }
      })
    }).catch(() => {
      this.$message({
        type: 'info',
        message: '已取消删除'
      })
    })
  }

  // 关闭弹窗触发
  private closedFn() {
    this.formData = {
      bank_category_id: '',
      open_bank_name: '',
      code: '',
      name: '',
      default: '',
      id: ''
    }
  }

  // 保存
  private saveFn() {
    let requestFn = UserModule.PostUserBank
    const bankCateId = (this.$refs as any).categoryDom.selected
    this.formData.bank_category_id = bankCateId
    if (this.formData.id) {
      requestFn = UserModule.PutUserBank
    } else {
      requestFn = UserModule.PostUserBank
    }
    requestFn(this.formData).then(res => {
      if (res) {
        this.$message.success(`${this.formData.id ? '修改' : '添加'}成功`)
        this.show = false
        this.getBankList()
      }
    })
  }

  // 打开编辑
  private editFn(bank:any) {
    this.formData = bank
    this.show = true
    console.log(bank)
  }

  // 获取银行卡列表
  private getBankList() {
    UserModule.GetUserBank({}).then(res => {
      if (res) {
        this.bankList = res.list
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.bank-list {
  &-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    display: block;
    margin: 0 0 24px;
  }
  &-form {
    width: 100%;
    &-item {
      width: 100%;
      .tips {
        font-size: 13px;
        white-space: nowrap;
        padding-left: 8px;
      }
    }
  }
  .btn {
    margin-left: 160px;
  }
  .tips-div {
    margin-left: 160px;
  }
  .bank {
    text-align: center;
    &-input {
      width: 320px;
      margin-bottom: 16px;
    }
    .save-btn {
      width: 320px;
    }
  }
}
</style>
