<template>
  <div class="container details">
    <p class="details-title">资金明细</p>
    <el-form inline>
      <el-form-item label="账户类型:">
        <el-select v-model="accountType" clearable>
          <el-option
            v-for="v in accountTypes"
            :key="v.key"
            :label="v.label"
            :value="v.key"
          ></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="任务ID:" class="ml-8">
        <el-input v-model="taskId" />
      </el-form-item>
      <el-form-item label="订单ID:" class="ml-8">
        <el-input v-model="orderId" />
      </el-form-item>
      <br />
      <el-form-item label="开始时间:">
        <el-date-picker
          v-model="startTime"
          type="datetime"
          placeholder="选择开始时间:">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="结束时间" class="ml-8">
        <el-date-picker
          v-model="endTime"
          type="datetime"
          placeholder="选择开始时间">
        </el-date-picker>
      </el-form-item>
      <el-form-item label="店铺:" class="ml-8">
        <Selector ref="shopDom" type="shop" />
      </el-form-item>
      <el-button type="primary" @click="getList()">搜索</el-button>
    </el-form>
    <el-table
      :data="list"
      border
      stripe
    >
      <el-table-column v-for="v in tableData" :key="v.prop" :label="v.label" :prop="v.prop"></el-table-column>
    </el-table>
    <div class="details-pagination">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        :page-size="pageSize"
        @current-change="currChange"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// components
import Selector from '@/components/Selector/index.vue'
// modules
import { UserModule } from '@/store/modules/user'
@Component({
  name: 'Details',
  components: {
    Selector
  }
})
export default class Details extends Vue {
  private page = 1 // 页码
  private pageSize = 10 // 每页数量
  private total = 0 // 列表总数
  private list = [] //  明细列表
  private accountTypes = [
    { label: '全部', key: '' },
    { label: '总账户', key: 'main' },
    { label: '佣金账户', key: 'employ' }
  ]

  private accountType = '' // 账户类型
  private startTime = '' // 开始时间
  private endTime = '' // 结束时间
  private orderId = '' // 订单id
  private taskId = '' // 任务id
  private tableData = [
    { label: '操作编号', prop: 'id' },
    { label: '订单编号', prop: 'order_id' },
    { label: '任务编号', prop: 'task_id' },
    { label: '账户类型', prop: 'account_type_desc' },
    { label: '金额', prop: 'amount_change' },
    { label: '时间', prop: 'create_time' },
    { label: '操作类型', prop: 'type_desc' },
    { label: '说明', prop: 'remark' }
  ]

  mounted() {
    this.getList()
  }

  // 获取资金明细
  private getList() {
    const payload = {
      page: this.page,
      page_size: this.pageSize,
      account_type: this.accountType,
      shop_id: (this.$refs as any).shopDom.selected,
      task_id: this.taskId,
      order_id: this.orderId,
      create_time_start: this.startTime,
      create_time_end: this.endTime
    }
    UserModule.AccountLog(payload).then(res => {
      if (res) {
        this.list = res.list
        this.total = res.count
      }
    })
  }

  // 修改页码
  private currChange(val: number) {
    this.page = val
    this.getList()
  }
}
</script>
<style lang="scss" scoped>
.details {
  &-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    display: block;
    margin: 0 0 24px;
  }
  &-pagination {
    text-align: right;
    padding-top: 24px;
  }
}
</style>
