<template>
  <div class="container recharge">
    <p class="recharge-title">账户充值</p>
    <div class="recharge-receipt">
      <el-row v-for="(v, i) in receiptInfos" :key="i" type="flex" class="recharge-receipt-item">
        <label>{{ v.label }}：</label>
        <span>{{ v.span }}</span>
      </el-row>
    </div>
    <el-form inline label-width="160px" class="recharge-form">
      <el-row>
        <el-form-item label="请选择付款银行">
          <el-row type="flex" align="middle">
            <el-select v-model="rechargeForm.user_bank_id" clearable>
              <el-option
                v-for="v in bankList"
                :key="v.id"
                :label="v.open_bank_name"
                :value="v.id"
              ></el-option>
            </el-select>
            <el-button type="primary" size="mini" class="ml-8" @click="addCard()">+添加银行卡</el-button>
          </el-row>
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="充值金额">
          <el-input v-model="rechargeForm.amount" type="number" />
        </el-form-item>
      </el-row>
      <el-row>
        <el-form-item label="充值截图">
          <el-upload
            class="avatar-uploader"
            action="/api/file"
            :show-file-list="false"
            :on-success="uploadImg"
            :headers="{
              Authorization: `Bearer ${token}`
            }"
            :data="{
              ['res_type']: 'task'
            }"
          >
            <img v-if="rechargeForm.img" :src="imgPrefix + rechargeForm.img" class="avatar">
            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
          </el-upload>
        </el-form-item>

      </el-row>
      <el-button type="primary" @click="submitFn()" class="submit-btn">提交充值单</el-button>
    </el-form>
    <div class="tips">
      <span>充值提醒：</span>
      <p v-for="v in tips" :key="v.id">{{ v.text }}</p>
    </div>
    <el-table
      :data="rechargeList"
      border
      stripe
    >
      <el-table-column label="充值编号" prop="id"></el-table-column>
      <el-table-column label="提交时间" prop="create_time"></el-table-column>
      <el-table-column label="付款账号" prop="bank_code"></el-table-column>
      <el-table-column label="充值金额(元)" prop="amount"></el-table-column>
      <el-table-column label="状态" prop="status_desc"></el-table-column>
      <el-table-column label="备注" prop="remark"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="warning" size="mini" @click="cancelFn(scope.row.id)">撤销</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="recharge-pagination">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        :page-size="pageSize"
        @current-change="currChange"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// modules
import { UserModule } from '@/store/modules/user'
import { BasicModule } from '@/store/modules/basic'
// const
import { FilePrefix } from '@/utils/const'
@Component({
  name: 'Recharge'
})
export default class Recharge extends Vue {
  private page = 1 // 页码
  private pageSize = 10 // 每页数量
  private total = 0 // 列表总数
  private imgPrefix = FilePrefix // 图片地址前缀
  private rechargeList = [] // 充值列表
  private receiptInfos = [
    { label: '收款方式', key: 'type_desc', span: '' },
    { label: '收款账户', key: 'code', span: '' },
    { label: '收款户名', key: 'name', span: '' },
    { label: '收款开户银行', key: 'open_bank_name', span: '' }
  ]

  private bank = '' // 付款银行
  private bankList = [] // 银行卡列表
  private rechargeForm = { // 充值数据
    user_bank_id: '',
    amount: '',
    img: ''
  }

  private tips = [
    { text: '1.不能使用ATM转账', id: '1' },
    { text: '2.转账请不要备注信息', id: '2' },
    { text: '3.先转账再提交充值单，请提交充值截图便于快速审核', id: '3' },
    { text: '4.提现和充值必须是同一张银行卡', id: '4' }
  ]

  get token() {
    return UserModule.token
  }

  mounted() {
    this.getBankList()
    this.getRechargeList()
    this.getRechargeUser()
  }

  // 获取充值账户
  private getRechargeUser() {
    BasicModule.GetConfig('platform_account_config').then(res => {
      if (res) {
        const value = JSON.parse(res.value)
        this.receiptInfos.map((v: any) => {
          v.span = value[v.key]
        })
      }
    })
  }

  // 撤销充值
  private cancelFn(id: string) {
    this.$confirm('确认撤销该条充值记录吗?', '提示', {
      confirmButtonText: '确定',
      cancelButtonText: '取消',
      type: 'warning'
    }).then(() => {
      UserModule.AccountInOutStatus({ id, status: 'cancel' }).then(res => {
        if (res) {
          this.$message.success('撤销成功')
          this.getRechargeList()
        }
      })
    }).catch(err => {
      console.log(err)
    })
  }

  // 获取充值列表
  private getRechargeList() {
    const payload = {
      page: this.page,
      page_size: this.pageSize,
      type: 'recharge'
    }
    UserModule.AccountInOut(payload).then(res => {
      if (res) {
        this.rechargeList = res.list
        this.total = res.count
      }
    })
  }

  // 修改页码
  private currChange(val: number) {
    this.page = val
    this.getRechargeList()
  }

  // 提交充值单
  private submitFn() {
    UserModule.Recharge(this.rechargeForm).then(res => {
      if (res) {
        console.log('recharge: --->', res)
        this.$message.success('提交成功')
      }
    })
  }

  // 上传充值截图
  private uploadImg(file:any) {
    if (file.code === 0) {
      this.rechargeForm.img = file.data.file_name
    }
  }

  // 添加银行卡
  private addCard() {
    this.$router.push('/financial/bank')
  }

  // 获取银行卡列表
  private getBankList() {
    UserModule.GetUserBank({}).then(res => {
      if (res) {
        this.bankList = res.list
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.recharge {
  &-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    display: block;
    margin: 0;
  }
  &-receipt {
    margin-top: 16px;
    &-item {
      padding-top: 16px;
      color: #333;
      font-size: 16px;
      font-weight: bold;
      label {
        display: block;
        width: 160px;
        text-align: right;
        padding-right: 16px;
      }
    }
  }
  &-form {
    margin-top: 24px;
  }
  .avatar-uploader {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 150px;
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
  .avatar {
    width: 150px;
    height: 150px;
    display: block;
  }
  .submit-btn {
    margin-left: 160px;
  }
  .tips {
    padding-left: 160px;
    margin-top: 24px;
  }
  &-pagination {
    text-align: right;
    margin-top: 24px;
  }
}
</style>
