<template>
  <div class="container withdraw">
    <p class="withdraw-title">账户提现</p>
    <el-form inline label-width="160px" class="withdraw-form">
      <div>
        <el-form-item label="请选择收款银行" class="withdraw-form-item">
          <el-select v-model="withdrawForm.user_bank_id" clearable>
            <el-option
              v-for="v in bankList"
              :key="v.id"
              :label="v.open_bank_name"
              :value="v.id"
            ></el-option>
          </el-select>
          <el-button type="primary" size="mini" @click="addBank()" class="ml-8">+添加银行卡</el-button>
        </el-form-item>
      </div>
      <div>
        <el-form-item label="提现金额" class="withdraw-form-item">
          <el-row type="flex">
            <el-input v-model="withdrawForm.amount" type="number" />
            <span class="tips">可提现 {{ userInfo.amount || 0 }} 金</span>
          </el-row>
        </el-form-item>
      </div>
      <div>
        <el-form-item label="提现密码" class="withdraw-form-item">
          <el-row type="flex">
            <el-input v-model="withdrawForm.password" type="password" />
            <span class="tips color-red pointer" @click="forget()">忘记密码？</span>
          </el-row>
        </el-form-item>
      </div>
    </el-form>
    <el-button type="primary" @click="withdrawFn()" class="btn">申请提现</el-button>
    <div class="tips-div">
      <p>1金=1元 ,10金起提 ,一天只能申请一次</p>
      <p>提现和充值必须是同一张银行卡</p>
    </div>
    <el-dialog
      title="设置提现密码"
      :visible.sync="show"
      width="420px"
    >
      <el-input v-model="withdrawPassword.mobile" maxlength="11" placeholder="手机号码" class="mt-8" />
      <el-row type="flex" class="mt-8">
        <el-input v-model="withdrawPassword.valid_code" placeholder="请输入验证码" />
        <el-button type="primary" :disabled="smsBtnText !== '获取验证码'" @click="sendSms()" class="ml-8">{{ smsBtnText }}</el-button>
      </el-row>
      <el-input v-model="withdrawPassword.password" type="password" placeholder="请输入提现密码" class="mt-8" />
      <el-input v-model="psdConfirm" type="password" placeholder="请确认提现密码" class="mt-8" />
      <el-button type="primary" @click="setWithdrawPsd()" class="change-btn">确认设置</el-button>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// modules
import { UserModule } from '@/store/modules/user'
@Component({
  name: 'Withdraw'
})
export default class Withdraw extends Vue {
  private count = 60
  private smsBtnText = '获取验证码'
  private show = false
  private bankList = [] // 银行卡列表
  private withdrawForm = { // 提现表单
    user_bank_id: '',
    amount: '',
    password: ''
  }

  private psdConfirm = '' // 确认密码
  private withdrawPassword = { // 提现密码表单
    type: 'withdraw',
    mobile: '',
    valid_code: '',
    password: ''
  }

  get userInfo() {
    return UserModule.userInfo
  }

  mounted() {
    UserModule.GetUserInfo().then(() => {
      this.getBankList()
      if (!this.userInfo.withdraw_password) {
        this.show = true
      }
    })
  }

  // 忘记密码
  private forget() {
    this.show = true
  }

  // 发送验证码
  private sendSms() {
    const payload = {
      type: 'update_withdraw_password',
      mobile: this.withdrawPassword.mobile
    }
    let timer:any = null
    UserModule.SendCode(payload).then(res => {
      if (res) {
        timer = setInterval(() => {
          const count = this.count
          if (count === 0) {
            clearInterval(timer)
            timer = null
            this.count = 60
            this.smsBtnText = '获取验证码'
          } else {
            this.smsBtnText = `${this.count}s`
          }
          this.count--
        }, 1000)
        this.$message.success('验证码发送成功')
      }
    })
  }

  // 确认设置密码
  private setWithdrawPsd() {
    if (this.withdrawPassword.password !== this.psdConfirm) {
      this.$message.error('两次密码输入不一致，请重新输入')
      return false
    }
    UserModule.ChangePsd(this.withdrawPassword).then(res => {
      if (res) {
        this.$message.success('密码设置成功')
        this.show = false
      }
    })
  }

  // 添加银行卡
  private addBank() {
    this.$router.push('/financial/bank')
  }

  // 提现
  private withdrawFn() {
    UserModule.Withdraw(this.withdrawForm).then(res => {
      if (res) {
        this.$message.success('申请提交成功')
      }
    })
  }

  // 获取银行卡列表
  private getBankList() {
    UserModule.GetUserBank({}).then(res => {
      if (res) {
        this.bankList = res.list
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.withdraw {
  &-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    display: block;
    margin: 0 0 24px;
  }
  &-form {
    width: 100%;
    &-item {
      width: 100%;
      .tips {
        font-size: 13px;
        white-space: nowrap;
        padding-left: 8px;
      }
    }
  }
  .btn {
    margin-left: 160px;
  }
  .tips-div {
    margin-left: 160px;
  }
  .change-btn {
    width: 100%;
    margin-top: 24px;
  }
  .pointer {
    cursor: pointer;
  }
}
</style>
