<template>
  <div class="step3">
    <i class="el-icon-success"></i>
    发布成功
    <el-row type="flex" justify="center" class="success-btn">
      <a @click="navigateFn('/')">返回首页</a>
      <a @click="navigateFn('/task/list')">任务列表</a>
    </el-row>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component({
  name: 'Step3'
})
export default class Step3 extends Vue {
  private name = '步骤3'

  private navigateFn(url:string) {
    this.$router.push(url)
  }
}
</script>
<style lang="scss">
  .step3 {
    text-align: center;
    padding: 48px;
    color: #333;
    font-size: 24px;
    .el-icon-success {
      color: #13ce66;
      font-size: 24px;
    }
    .success-btn {
      margin-top: 64px;
      align-items: center;
      a {
        color: #1890ff;
        font-size: 14px;
        text-decoration: underline;
        cursor: pointer;
        margin: 24px;
      }
    }
  }
</style>
