<template>
  <div class="step1">
    <el-form inline class="step1-form">
      <div>
        <el-form-item label="任务类型" required class="step1-form-item">
          <el-radio-group v-model="categoryId" @change="radioChange">
            <el-row type="flex" class="step1-form-item-row">
              <el-radio
                v-for="v in category"
                :key="v.id"
                :label="v.id"
                border
                class="step1-form-item-radio"
              >
                {{ v.name }}
              </el-radio>
            </el-row>
          </el-radio-group>
        </el-form-item>
      </div>
      <div>
        <el-form-item label="选择店铺" required class="step1-form-item">
          <Selector ref="shopDom" type="shop" :onChange="selectChange" />
          <el-button type="primary" class="add-btn" @click="toAddShop()">添加店铺</el-button>
        </el-form-item>
      </div>
    </el-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// modules
import { BasicModule } from '@/store/modules/basic'
// components
import Selector from '@/components/Selector/index.vue'
@Component({
  name: 'Step1',
  components: {
    Selector
  }
})
export default class Step1 extends Vue {
  private name = '步骤1'
  private category = [] // 任务类型
  private categoryId = ''

  mounted() {
    this.getCateList()
    // this.getShops()
  }

  // 获取任务类型
  private getCateList() {
    BasicModule.Category({ type: 'task' }).then(res => {
      if (res) {
        this.category = res.list
      }
    })
  }

  // 添加店铺
  private toAddShop() {
    this.$router.push('/account/shop')
  }

  // 修改任务类型
  private radioChange(val: any) {
    const curr: any = this.category.filter((v:any) => v.id === val)[0]
    localStorage.setItem('keys', curr.code)
    localStorage.setItem('cateid', val)
    localStorage.setItem('catename', curr.name)
  }

  // 选择店铺
  private selectChange(val: any) {
    const curr: any = (this.$refs as any).shopDom.options.filter((v:any) => v.id === val)[0]
    localStorage.setItem('shopid', val)
    localStorage.setItem('shopname', curr.name)
  }
}
</script>
<style lang="scss">
  .step1 {
    margin-top: 24px;
    &-form {
      &-item {
        &-row {
          width: 1200px;
          flex-wrap: wrap;
        }
        &-radio {
          width: 180px;
          margin: 10px;
        }
      }
      .add-btn {
        margin-left: 8px;
      }
    }
  }
</style>
