.step2 {
  margin-top: 20px;
  &-top {
    margin-top: 8px;
    label {
      display: inline-block;
      color: #333;
      font-weight: 500;
      padding-top: 4px;
    }
    span {
      display: inline-block;
      margin-right: 8px;
      color: #fff;
      background-color: #ee796e;
      font-size: 14px;
      padding: 4px 8px;
      border-radius: 4px;
    }
  }
  &-title {
    width: 100%;
    text-align: center;
    background: #1890ff2c;
    color: #1890ff;
    padding: 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    margin: 24px 0;
  }
  .goods-infos {
    &-item {
      width: 100%;
    }
    &-input {
      width: 400px;
      flex: 1;
    }
  }
  .goods-add {
    margin-top: 24px;
    &-title {
      color: #ff4949;
      font-size: 18px;
      font-weight: bold;
      display: inline-block;
      width: 120px;
      text-align: right;
    }
    &-btn {
      color: #ff4949;
      font-size: 14px;
      cursor: pointer;
      text-decoration: underline;
      display: inline-block;
      margin-left: 16px;
    }
    &-tips {
      color: #ff4949;
      margin-left: 40px;
    }
    &-sum {
      color: #333;
      font-size: 14px;
      display: inline-block;
      font-weight: 500;
      padding-left: 40px;
      span {
        color: #ff4949;
      }
    }
  }
  .goods {
    padding-left: 48px;
    margin-bottom: 20px;
    &-item {
      width: 680px;
      border: 1px solid #ddd;
      padding: 16px;
      position: relative;
      margin-top: 16px;
      border-radius: 4px;
      img {
        width: 178px;
        height: 178px;
        border: 1px solid #ddd;
        display: block;
      }
      &-right {
        flex: 1;
        label {
          display: inline-block;
          width: 64px;
          line-height: 20px;
          text-align: right;
          padding-right: 8px;
        }
        &-line {
          margin-top: 8px;
          align-items: center;
          label {
            display: block;
            width: 64px;
          }
        }
      }
      .el-icon-error {
        font-size: 24px;
        position: absolute;
        right: -12px;
        top: -12px;
        cursor: pointer;
      }
    }
  }
  .task {
    &-type {
      &-item {
        border: 1px solid #ddd;
        border-radius: 4px;
        margin-top: 20px;
        &.active {
          border-color: #1890ff;
          .task-type-item-list {
            border-top: 1px solid #1890ff;
          }
        }
        &-top {
          padding: 10px 20px;
        }
        &-list {
          &-row {
            background-color: #1890ff1c;
            padding: 5px 20px;
            margin-bottom: 16px;
          }
          &-btm {
            padding: 0 20px 16px;
            a {
              color: #1890ff;
              font-size: 14px;
              font-weight: bold;
              text-decoration: underline;
              cursor: pointer;
            }
            div {
              color: #333;
              font-size: 14px;
              padding-left: 32px;
              span {
                color: #ee796e;
                font-size: 18px;
                font-weight: bold;
              }
            }
          }
          .el-icon-error {
            color: #333;
            font-size: 20px;
            display: block;
            margin-left: 16px;
            cursor: pointer;
          }
          &-detail {
            &-title {
              color: #1890ff;
              background: #1890ff1C;
              padding: 10px 20px;
            }
            &-list {
              border: 1px solid #1890ff;
              margin: 20px;
              border-radius: 4px;
              .color-size {
                width: 200px;
              }
              &-title {
                background: #1890ff1c;
                padding: 10px 20px;
              }
              &-content {
                padding: 20px;
              }
            }
          }
        }
        label {
          white-space: nowrap;
        }
      }
    }
  }
  .num {
    width: 130px;
    margin-left: 10px;
  }
  .time-setting {
    &-tips {
      padding-left: 24px;
      p {
        color: #333;
        margin: 8px 0;
        span {
          color: #ff4949;
        }
      }
    }
    &-list {
      border: 1px solid #1890ff;
      border-left-width: 4px;
      padding: 5px 12px;
      border-radius: 4px;
    }
    &-btm {
      padding: 16px 20px;
      a {
        color: #1890ff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer;
      }
      div {
        color: #333;
        font-size: 14px;
        padding-left: 32px;
        span {
          color: #ee796e;
          font-size: 18px;
          font-weight: bold;
        }
      }
    }
    &-hours {
      border: 1px solid #1890ff;
      border-radius: 4px;
      padding: 8px 20px 20px;
      margin-top: 10px;
      &-item {
        flex-wrap: wrap;
        border-top: 1px solid #1890ff;
        margin-top: 8px;
        padding-top: 10px;
        label {
          white-space: nowrap;
          display: block;
          width: 72px;
          text-align: right;
          box-sizing: border-box;
          padding-right: 8px;
          padding-left: 16px;
        }
        &-num {
          width: 150px;
        }
      }
    }
  }
  .dialog-content {
    label {
      white-space: nowrap;
      padding-right: 10px;
    }
  }
  .remark {
    margin: 24px 0;
    &-label {
      color: #333;
      font-size: 14px;
      font-weight: 500;
    }
    &-text {
      margin-top: 8px;
    }
  }
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 18px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
  display: block;
}
.eval-upload {
  display: block;
  font-size: 16px;
  width: 148px;
  height: 148px;
  line-height: 148px;
  text-align: center;
  color: #8c939d;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.step3 {
  &-title {
    width: 100%;
    text-align: center;
    background: #1890ff2c;
    color: #1890ff;
    padding: 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 16px;
  }
  &-detail {
    padding-left: 16px;
    padding-bottom: 16px;
    label {
      color: #333;
      font-size: 14px;
    }
    div {
      font-weight: 500;
    }
  }
}