<template>
  <div class="step2">
    <el-row class="step2-top">
      <el-col :span="2">
        <label>任务类型：</label>
      </el-col>
      <el-col :span="20">
        <span>{{ cateName }}</span>
      </el-col>
    </el-row>
    <el-row class="step2-top">
      <el-col :span="2">
        <label>任务店铺：</label>
      </el-col>
      <el-col :span="20">
        <span>{{ shopName }}</span>
      </el-col>
    </el-row>
    <div class="step2-title">
      <span>设置商品信息</span>
    </div>
    <div class="goods-infos">
      <el-form inline label-width="120px">
        <el-form-item label="任务名称" required class="goods-infos-item">
          <el-input v-model="task.name" placeholder="请用类目+产品（例如：男装夹克）" class="goods-infos-input" />
        </el-form-item>
        <el-form-item label="宝贝链接" required class="goods-infos-item">
          <el-row type="flex">
            <el-input v-model="goods[0].url" placeholder="请填写正确的宝贝链接" class="goods-infos-input" />
            <el-button type="primary" class="ml-8">获取宝贝数据</el-button>
          </el-row>
        </el-form-item>
        <el-form-item label="宝贝标题" required class="goods-infos-item">
          <el-input v-model="goods[0].title" placeholder="请填写宝贝标题" class="goods-infos-input" />
        </el-form-item>
        <el-form-item label="宝贝主图" required class="goods-infos-item">
          <el-upload
            class="avatar-uploader"
            action="/api/file"
            :show-file-list="false"
            :on-success="(file, fileList) => uploadGoodsImg(file, fileList, 0)"
            :before-upload="beforeAvatarUpload"
            :headers="{
              Authorization: `Bearer ${token}`
            }"
            :data="{
              ['res_type']: 'task'
            }"
          >
            <img v-if="goods[0].img" :src="imgPrefix + goods[0].img" class="avatar">
            <!-- <i v-else class="el-icon-plus avatar-uploader-icon"></i> -->
            <span v-else class="avatar-uploader-icon">上传图片</span>
          </el-upload>
          <div class="color-red f12">注：上传“宝贝主图”，确保与搜索页面展示的图片一致</div>
        </el-form-item>
        <el-form-item label="宝贝价格" required class="goods-infos-item">
          <el-row type="flex">
            <el-input v-model="goods[0].price" type="number" placeholder="请填写宝贝价格" class="goods-infos-input" />
            <span class="pl-8">元</span>
          </el-row>
          <div class="color-red f12">注：用户拍下时的付款价格，如不同等级买号看到商品价格不同，取最大值</div>
        </el-form-item>
        <el-form-item label="每单拍" required class="goods-infos-item">
          <el-row type="flex">
            <el-input v-model="goods[0].num" type="number" class="goods-infos-input" />
            <span class="pl-8">件</span>
          </el-row>
          <div class="color-red">总金额 {{ 0 }} 元 【不含运费】</div>
        </el-form-item>
        <el-form-item label="搜索价格" required class="goods-infos-item">
          <el-row type="flex">
            <el-input v-model="goods[0].search_price" type="number" placeholder="请填写搜索价格" class="goods-infos-input" />
            <span class="pl-8">元</span>
          </el-row>
          <div class="color-red f12">务必亲自在手机端搜索，确认价格准确</div>
        </el-form-item>
        <div class="goods-add">
          <span class="goods-add-title">多链接</span>
          <a v-if="goods.length < 6" class="goods-add-btn" @click="addGoods">+ 添加商品({{ goodsReward && goodsReward.toFixed(1) }}元/条)</a>
          <label class="goods-add-tips">注：添加一起购买的商品(最多5个)</label>
          <p class="goods-add-sum">小计：<span>--</span></p>
        </div>
        <div class="goods">
          <div
            v-for="(v, i) in goods"
            :key="v.id"
          >
            <el-row
              v-if="i > 0"
              class="goods-item"
              type="flex"
              align="middle"
            >
              <el-upload
                class="avatar-uploader goods-item-img"
                action="/api/file"
                :show-file-list="false"
                :on-success="(file, fileList) => uploadGoodsImg(file, fileList, i)"
                :before-upload="beforeAvatarUpload"
                :headers="{
                  Authorization: `Bearer ${token}`
                }"
                :data="{
                  ['res_type']: 'task'
                }"
              >
                <img v-if="v.img" :src="imgPrefix + v.img" class="avatar">
                <!-- <i v-else class="el-icon-plus avatar-uploader-icon"></i> -->
                <span v-else class="avatar-uploader-icon">上传图片</span>
              </el-upload>
              <div class="goods-item-right">
                <el-row type="flex" class="goods-item-right-line">
                  <label>链接</label>
                  <el-input size="mini" v-model="v.url" class="goods-infos-input" />
                </el-row>
                <el-row type="flex" class="goods-item-right-line">
                  <label>关键词</label>
                  <el-input size="mini" v-model="v.keywords" class="goods-infos-input" />
                </el-row>
                <el-row type="flex" class="goods-item-right-line">
                  <label>标题</label>
                  <el-input size="mini" v-model="v.title" class="goods-infos-input" />
                </el-row>
                <el-row>
                  <el-col :span="8">
                    <el-row type="flex" class="goods-item-right-line">
                      <label>单价</label>
                      <el-input size="mini" v-model="v.price" type="number" class="goods-infos-input" />
                    </el-row>
                  </el-col>
                  <el-col :span="8">
                    <el-row type="flex" class="goods-item-right-line">
                      <label>数量</label>
                      <el-input size="mini" v-model="v.num" type="number" class="goods-infos-input" />
                    </el-row>
                  </el-col>
                  <el-col :span="8">
                    <el-row type="flex" class="goods-item-right-line">
                      <label>规格</label>
                      <el-input size="mini" v-model="v.spec" class="goods-infos-input" />
                    </el-row>
                  </el-col>
                </el-row>
              </div>
              <i class="el-icon-error" @click="delFn(i)"></i>
            </el-row>
          </div>
        </div>
        <el-form-item label="领券链接" class="goods-infos-item">
          <el-row>
            <el-input v-model="task.coupon_url" placeholder="优惠券领取链接" class="goods-infos-input" />
          </el-row>
          <div class="color-primary">优惠券链接</div>
        </el-form-item>
        <el-form-item label="是否包邮" required class="goods-infos-item">
          <el-row>
            <el-radio v-model="task.free_shipping" label="Y">包邮</el-radio>
            <el-radio v-model="task.free_shipping" label="N">不包邮</el-radio>
            <el-form-item label="运费" :required="task.free_shipping === 'N'">
              <el-input v-model="task.shipping_amount" :disabled="task.free_shipping === 'Y'" type="number" class="num"/>
              元
            </el-form-item>
          </el-row>
        </el-form-item>
        <el-form-item label="发布超时" required class="goods-infos-item">
          <el-row type="flex" align="middle">
            <el-radio v-model="task.closing_date" label="no">不超时</el-radio>
            <el-radio v-model="task.closing_date" label="day">当天0点结束</el-radio>
            <el-radio v-model="task.closing_date" label="n">
              <span>指定时间后结束</span>
              <el-input placeholder="发布超时" :disabled="task.closing_date !== 'n'" type="number" v-model="overtime" class="num" />
              小时
            </el-radio>
            <div class="color-primary">任务开始多久后自动撤销</div>
          </el-row>
        </el-form-item>
        <div class="step2-title">
          <span>设置如何找到商品</span>
        </div>
        <el-form-item label="商品排序方式" required class="goods-infos-item">
          <el-row type="flex" align="middle">
            <el-radio v-model="task.sort" label="multiple">综合</el-radio>
            <el-radio v-model="task.sort" label="sell">销量</el-radio>
            <div class="color-red f12">强烈建议销量排序，商品位置更稳定更好找</div>
          </el-row>
        </el-form-item>
        <el-form-item label="商品现有收货人数或付款人数约" label-width="240px" class="goods-infos-item">
          <el-row type="flex">
            <el-input v-model="task.sell_num" type="number" class="num mr-8" />
            <span>人</span>
            <div class="color-red ml-8 f12">此处为手机淘宝销量优先搜索列表页显示的收货人数</div>
          </el-row>
        </el-form-item>
        <el-form-item label="价格区间" class="goods-infos-item">
          <el-row type="flex">
            <el-input v-model="task.price_upper" type="number" class="num mr-8" />
            <span>-</span>
            <el-input v-model="task.price_down" type="number" class="num ml-8 mr-8" />
            <span>元</span>
            <div class="color-red ml-8 f12">如果商品不好找，强烈建议添加价格区间、商品所在地方便用户找到你的商品。</div>
          </el-row>
        </el-form-item>
        <el-form-item label="商品所在地" class="goods-infos-item">
          <Address ref="addressDom" width="500px" :level="2" />
        </el-form-item>
        <el-form-item label="宝贝详情问答（2~10个字）">
          <el-row type="flex" align="middle">
            <el-input v-model="task.question" class="goods-infos-input" />
            <span class="pl-8">通过找到商家设置的问答来增加买手在商品页的停留时间</span>
            <a class="color-primary ml-8" href="http://www.xiaoliangying.com/Content/images/productQuestion.jpg">了解如何设置</a>
          </el-row>
          <div class="color-red f12">请选中你的商品属性或商品详情中的某文字作为关键词，最少2个字，最多10个字，不要输入标题符号、空格、特殊字符。</div>
        </el-form-item>
        <el-form-item label="订单留言" class="goods-infos-item">
          <el-input v-model="task.message" placeholder="买家留言" />
          <span class="color-red f12">用户拍下商品所需要填写的买家留言；出于安全考虑不建议大批量使用</span>
        </el-form-item>
        <div class="step2-title">
          <span>任务类型和单数</span>
        </div>
        <div class="task-type">
          <div class="color-red">注：必须至少选择一项任务类型（勾选展开填写明细）</div>
            <div v-for="(v, i) in taskTypes" :key="v.key" :class="`task-type-item ${v.checked ? 'active' : ''}`">
              <el-row type="flex" align="middle" class="task-type-item-top">
                <el-checkbox :label="v.label + `（+ ${v.val && v.val.toFixed(1)}金/单）`" v-model="v.checked" />
                <span class="color-red f12">{{ v.tips }}</span>
              </el-row>
              <div v-if="v.checked" class="task-type-item-list">
                <el-row v-for="(item, index) in v.list" :key="item.id" type="flex" align="middle" class="task-type-item-list-row">
                  <el-row type="flex" align="middle">
                    <label><span class="color-red">*</span>下单关键词</label>
                    <el-input v-model="item.keywords" class="mh-8" />
                  </el-row>
                  <el-row type="flex" align="middle">
                    <label>添加</label>
                    <el-input v-model="item.num" type="number" class="num" @blur="taskDetailNumBlur(i, item.num, item)" />
                    <span>单， </span>
                  </el-row>
                  <el-row type="flex" align="middle">
                    <label>备用关键词</label>
                    <el-input v-model="item.keywords2" class="num mr-8" placeholder="(选填)备用关键词" />
                  </el-row>
                  <el-row v-if="i === 0" type="flex" align="middle">
                    <label>颜色尺码</label>
                    <el-input v-model="item.color_size" class="num" placeholder="(选填)颜色尺码" />
                  </el-row>
                  <i v-if="index > 0" class="el-icon-error" @click="delKeyword(i, index)"></i>
                </el-row>
                <el-row type="flex" align="middle" class="task-type-item-list-btm">
                  <a @click="addKeyFn(i)">+ 添加关键词</a>
                  <div>总计 <span>{{ v.task_detail.length || v.num }}</span> 单</div>
                </el-row>
                <div v-if="v.task_detail.length" class="task-type-item-list-detail">
                  <div class="task-type-item-list-detail-title">设置{{ v.detailTitle }}好评内容</div>
                  <div v-for="(j, jIndex) in v.task_detail" :key="j.id" class="task-type-item-list-detail-list">
                    <el-row class="task-type-item-list-detail-list-title">
                      <span class="color-red">*</span>
                      设置第<span>{{jIndex + 1}}</span>单的好评内容
                    </el-row>
                    <div class="task-type-item-list-detail-list-content">
                      <el-input v-model="j.color_size" placeholder="(选填)颜色尺码" class="color-size" />
                      <el-input v-model="j.evaluate" type="textarea" placeholder="(必填)完整的评价内容，最多999字" class="mt-8" />
                      <div v-if="v.key === 'video'" class="mt-8">
                        <el-upload
                          action="/api/file"
                          :headers="{
                            Authorization: `Bearer ${token}`
                          }"
                          :data="{
                            ['res_type']: 'task'
                          }"
                          :limit="1"
                          :on-success="file => uploadEvalImg(file, [i, jIndex, 'videos'])"
                          list-type="picture-card"
                          class="mr-8"
                        >
                          <!-- <i class="el-icon-plus"></i> -->
                          <span class="avatar-uploader-icon eval-upload">上传视频</span>
                        </el-upload>
                      </div>
                      <el-row v-if="v.key === 'video' || v.key === 'img'" type="flex" class="mt-8">
                        <el-upload
                          action="/api/file"
                          :headers="{
                            Authorization: `Bearer ${token}`
                          }"
                          :data="{
                            ['res_type']: 'task'
                          }"
                          list-type="picture-card"
                          :limit="5"
                          :on-success="file => uploadEvalImg(file, [i, jIndex, 'imgs'])"
                          class="mr-8"
                        >
                          <!-- <i class="el-icon-plus"></i> -->
                          <span class="avatar-uploader-icon eval-upload">上传图片</span>
                        </el-upload>
                      </el-row>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="step2-title">
          <span>发布时间设置</span>
        </div>
        <div class="time-setting">
          <el-form-item label="时间类型" required>
            <el-radio label="interval" v-model="timeType">间隔模式</el-radio>
            <el-radio label="part" v-model="timeType">时间段模式</el-radio>
          </el-form-item>
          <div v-if="timeType === 'interval'">
            <div class="time-setting-tips">
              <p>计划放单总单数必须等于发布任务总量，间隔分钟等于0默认开始时间一到一起发布</p>
              <p>例1：开始时间<span>2019-01-01 10:00:00</span>，每隔<span>0</span>分钟放出<span>10</span>单,共放<span>10</span>单</p>
              <p>即<span>2019-01-01 10:00:00</span>放出<span>10</span>单</p>
              <p>例2：开始时间<span>2019-01-01 10:00:00</span>，每隔<span>30</span>分钟放出<span>2</span>单,共放<span>10</span>单</p>
              <p>即<span>2019-01-01 10:00:00</span>开始，每30分钟放2单，共放<span>10</span>单，放出明细如下：</p>
              <p><span>10:00:00</span>放出<span>2</span>单， <span>10:30:00</span>放出<span>2</span>单， <span>11:00:00</span>放出<span>2</span>单， <span>11:30:00</span>放出<span>2</span>单， <span>12:00:00</span>放出<span>2</span>单</p>
            </div>
            <el-row v-for="(t, tIndex) in time" :key="t.id" class="time-setting-list">
              <el-button type="primary"><i class="el-icon-date"></i>平均设置</el-button>
              开始时间
              <el-date-picker
                v-model="t.start"
                type="datetime"
                value-format="yyyy-MM-dd HH:mm:ss"
                placeholder="选择日期时间">
              </el-date-picker>
              每隔
              <el-input v-model="t.interval_min" class="num" type="number"/>
              分钟放出
              <el-input v-model="t.num" class="num" type="number" />
              单，共放
              <el-input v-model="t.total" @blur="planBlurFn()" class="num" type="number" />
              单
              <i v-if="tIndex > 0" class="el-icon-error" @click="delTimeSetting(tIndex)"></i>
            </el-row>
            <el-row type="flex" align="middle" class="time-setting-btm">
              <a @click="addTimeSetting()">+ 添加放单计划</a>
              <div>总计 <span>{{ planTotal }}</span> 单</div>
            </el-row>
          </div>
          <div v-else>
            <div class="time-setting-tips">
              <p>1.计划放单总单数必须等于发布任务总量，放单时间不能小于当前时间</p>
              <p>2.将按下列时间段，到点自动放单</p>
            </div>
            <div class="time-setting-hours">
              <el-row>
                <span>开始时间</span>
                <el-date-picker type="datetime" placeholder="选择日期时间" />
                总计
                <span>1/1</span>
                单
              </el-row>
              <el-row class="time-setting-hours-item" type="flex" align="middle">
                <el-row v-for="v in timeArr" :key="v" type="flex" align="middle"  class="mt-8">
                  <label>{{ v }}点</label>
                  <el-input class="time-setting-hours-item-num" type="number" />
                </el-row>
              </el-row>
            </div>
          </div>
        </div>
        <!-- <div class="step2-title">
          <span>选择增值服务</span>
        </div>
        <div>
          <el-form-item label="加赏任务佣金">
            每单加赏
            <el-input />
            金
            <span class="color-red">加赏金额越高，越优先展示给用户，任务没人接或接不完时，建议加赏提升用户积极性，优先接手你的任务</span>
          </el-form-item>
        </div> -->
        <div class="step2-title">
          <span>商家附加要求</span>
        </div>
        <div>
          <p class="color-red">如有需要备注可添加图片，最多可添加3张，图片中不要显示店铺名或商品名，避免用户直接搜索！</p>
          <el-row type="flex">
            <el-upload
              action="/api/file"
              list-type="picture-card"
              :headers="{
                Authorization: `Bearer ${token}`
              }"
              :data="{
                ['res_type']: 'task'
              }"
              :limit="3"
              :on-success="uploadTaskImg"
              class="mr-8"
            >
              <!-- <i class="el-icon-plus"></i> -->
              <span class="avatar-uploader-icon eval-upload">上传图片</span>
            </el-upload>
          </el-row>
          <div class="remark">
            <label class="remark-label">商家备注内容</label>
            <el-input
              v-model="task.remark"
              type="textarea"
              placeholder="重要！如果对用户有特别的要求，请在备注里注明，用户在做任务时会看到，最多不能超过300字(任务备注只是商家要求，我们只能做到传达给用户但不会强制用户按要求执行)"
              class="remark-text"
            />
          </div>
        </div>
      </el-form>
    </div>
    <el-dialog
      title="任务数平均分配"
      :visible.sync="visible"
      width="30%"
      :before-close="handleClose">
      <div class="dialog-content">
        <el-row type="flex" align="middle" class="mt-8">
          <label>开始时间</label>
          <el-date-picker
            v-model="averageSetting.start"
            type="datetime"
            placeholder="选择日期时间">
          </el-date-picker>
        </el-row>
        <el-row type="flex" align="middle" class="mt-8">
          <label>结束时间</label>
          <el-date-picker
            v-model="averageSetting.end"
            type="datetime"
            placeholder="选择日期时间">
          </el-date-picker>
        </el-row>
        <el-row type="flex" align="middle" class="mt-8">
          <label>总任务数</label>
          <el-input v-model="averageSetting.num" />
        </el-row>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="visible = false">平均分配</el-button>
      </span>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// components
import Address from '@/components/Address/index.vue'
// modules
import { UserModule } from '@/store/modules/user'
import { BasicModule } from '@/store/modules/basic'
// const
import { FilePrefix } from '@/utils/const'

const initTaskDetail = () => ({
  keywords: '',
  num: '',
  keywords2: '',
  color_size: ''
})
const initTaskContent = ({ keywords = '', keywords2 = '', num = '', type = '' }) => ({
  type, // 任务类型
  keywords, // 下单关键词
  keywords2, // 备用关键词
  num, // 单数
  color_size: '', // 颜色尺码
  evaluate: '', // 评价内容
  imgs: [], // 图片
  img1: '', // 晒图1
  img2: '', // 晒图2
  img3: '', // 晒图3
  img4: '', // 晒图4
  img5: '', // 晒图5
  videos: [], // 视频
  video: '' // 视频
})
const initGoods = () => ({ // 添加商品初始化
  url: '', // 宝贝链接
  img: '', // 宝贝图片
  keywords: '', // 关键词
  title: '', // 标题
  price: '', // 单价
  search_price: '', // 搜索单价
  num: '', // 数量
  spec: '' // 规格
})
@Component({
  name: 'Step2',
  components: {
    Address
  }
})
export default class Step2 extends Vue {
  private imgPrefix = FilePrefix // 图片地址前缀
  private cateName = '' // 任务类型
  private shopName = '' // 任务店铺
  private goodsReward = '' // 添加商品的增值 0金/单
  private timeArr: Array<any> = [] // 时间段数组0点到23点
  private name = '步骤2'
  private dialogImageUrl = ''
  private visible = false // 任务平均分配弹窗显隐
  private radio = '1'
  private taskType = []
  private timeType = 'interval'
  private averageSetting = {
    start: '',
    end: '',
    num: ''
  }

  private task = {
    name: '', // 任务名
    // pay_amount: '', // 付款金额
    coupon_url: '', // 优惠券链接
    free_shipping: 'Y', // 是否包邮
    shipping_amount: '0', // 运费
    closing_date: '', // 截止日期 no不截止/day当日截止/n n小时后截止
    sort: 'sell', // 排序方式
    sell_num: '', // 现有付款人数约
    price_upper: '', // 价格区间起
    price_down: '', // 价格区间终
    city: '', // 所在市
    question: '', // 宝贝详情问答
    message: '', // 留言
    addition: '', // 增值服务
    add_img: '', // 商家附加图(多张,分离)
    remark: '', // 商家备注
    publish_config: '' // 发布时间配置
  }

  private overtime = '' // 超时时间

  private goods = [initGoods()]

  private taskTypes:any = [
    {
      label: '普通任务',
      key: 'normal',
      tips: '默认为5星无评价内容，如需评价请备注，但不可规定评价内容',
      list: [initTaskDetail()],
      task_detail: [],
      val: 0,
      num: 0
    },
    {
      label: '指定文字好评任务',
      key: 'words',
      list: [initTaskDetail()],
      detailTitle: '文字',
      checked: false,
      task_detail: [],
      val: 0
    },
    {
      label: '指定图文好评任务',
      key: 'img',
      list: [initTaskDetail()],
      detailTitle: '图文',
      checked: false,
      task_detail: [],
      val: 0
    },
    {
      label: '指定视频好评任务',
      key: 'video',
      list: [initTaskDetail()],
      detailTitle: '视频',
      checked: false,
      task_detail: [],
      val: 0
    }
  ]

  private time = [
    { start: '', interval_min: '', num: '', total: '' }
  ]

  private planTotal = 0 // 放单计划，共放几单

  private addition = []

  get token() {
    return UserModule.token
  }

  mounted() {
    const _arr = new Array(24)
    for (let i = 0; i < _arr.length; i++) {
      _arr[i] = i
    }
    this.timeArr = _arr
    this.getConfigEva()
    this.cateName = localStorage.getItem('catename') || ''
    this.shopName = localStorage.getItem('shopname') || ''
  }

  // 获取评论配置
  private getConfigEva() {
    const taskConfig = 'task_detail_type_config'
    const addition:any = `addition_config_${localStorage.getItem('keys')}`
    const keys = `${taskConfig},${addition}`
    BasicModule.GetConfig({ keys }).then(res => {
      const vals = JSON.parse(res[taskConfig].value)
      this.goodsReward = JSON.parse(res[addition].value).multi_goods
      this.taskTypes.map((v:any) => {
        v.val = vals[v.key]
      })
    })
  }

  // 共放几单
  private planBlurFn() {
    let _total = 0
    this.time.map((v:any) => {
      _total += Number(v.total)
      this.planTotal = _total
    })
  }

  // 上传商品图片
  private uploadGoodsImg(file: any, fileList: any, i: number) {
    console.log(file, fileList)
    if (file.code === 0) {
      this.goods[i].img = file.data.file_name
    }
  }

  // 上传评价图片/视频
  private uploadEvalImg(file:any, iArr: Array<any>) {
    if (file.code === 0) {
      this.taskTypes[iArr[0]].task_detail[iArr[1]][iArr[2]].push(file.data.file_path)
    }
  }

  // 添加商家附加图
  private uploadTaskImg(file:any) {
    const { code, data } = file
    if (code === 0) {
      this.task.add_img += `${this.task.add_img.length > 0 ? ',' : ''}${data.file_path}`
    }
  }

  // 添加商品
  private addGoods() {
    console.log('this.goods: ---->', this.goods)
    this.goods.push(initGoods())
  }

  // 关闭平均分配弹窗
  private handleClose() {
    this.visible = false
  }

  // 添加放单计划
  private addTimeSetting() {
    this.time.push({ start: '', num: '', total: '', interval_min: '' })
  }

  // 删除放单计划
  private delTimeSetting(index: number) {
    this.time.splice(index, 1)
  }

  // 添加关键词
  private addKeyFn(index: number) {
    this.taskTypes[index].list.push(initTaskDetail())
  }

  // 关键词单数失焦时触发
  private taskDetailNumBlur(index: number, num: number, v: any) {
    let count = 0
    this.taskTypes[index].list.map((v: any) => {
      count += Number(v.num)
    })
    if (index > 0) {
      const leng = this.taskTypes[index].task_detail.length
      const _num = (Number(count) - leng) >= 0 ? (Number(count) - leng) : Number(num)

      const arr = _num > 0 ? new Array(Number(_num)) : []
      for (let i = 0; i < arr.length; i++) {
        arr[i] = initTaskContent({ ...v, type: this.taskTypes[index].key })
      }
      let newArr = []
      if (count > leng) {
        newArr = this.taskTypes[index].task_detail.concat(arr)
      } else {
        newArr = this.taskTypes[index].task_detail.splice(0, count)
      }
      this.taskTypes[index].task_detail = newArr
    } else {
      let num = 0
      this.taskTypes[index].list.map((v:any) => {
        num += Number(v.num)
      })
      this.taskTypes[index].num = num
    }
  }

  // 删除关键词
  private delKeyword(index: number, i: number) {
    this.taskTypes[index].list.splice(i, 1)
  }

  // 删除商品
  private delFn(i: any) {
    this.goods.splice(i, 1)
  }

  // 上传之前
  private beforeAvatarUpload() {
    //
  }
}
</script>
<style lang="scss" src="./step2.scss"></style>
