<template>
  <div class="container fees">
    <p class="fees-title">收费标准</p>
    <el-tabs type="border-card">
      <el-tab-pane label="手机淘宝任务">
        <el-table
          :data="feesDetail"
          border
          stripe
        >
          <el-table-column label="垫付区间（起 < 实付金额 <= 止）">
            <template slot-scope="scope">
              <span>{{ scope.row.min }} ~ {{ scope.row.max }}</span>
            </template>
          </el-table-column>
          <el-table-column label="平台服务费" prop="platform">
            <template slot-scope="scope">
              <span>{{ scope.row.platform.toFixed(1) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="立返" prop="now_return">
            <template slot-scope="scope">
              <span>{{ scope.row.now_return.toFixed(1) }}</span>
            </template>
          </el-table-column>
          <el-table-column label="货返" prop="goods_return">
            <template slot-scope="scope">
              <span>{{ scope.row.goods_return.toFixed(1) }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="好评类型">
        <el-table
          :data="evalDetail"
          border
          stripe
        >
          <el-table-column label="好评类型" prop="type">
            <template slot-scope="scope">
              <span>{{ types[scope.row.type] }}</span>
            </template>
          </el-table-column>
          <el-table-column label="价格" prop="value">
            <template slot-scope="scope">
              <span>{{ scope.row.value.toFixed(1) }}</span>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// modules
import { BasicModule } from '@/store/modules/basic'
// const
import { EvalTypes } from '@/utils/const'
@Component({
  name: 'Fees'
})
export default class Fees extends Vue {
  private feesDetail = [] // 标准详情
  private evalDetail:Array<any> = [] // 好评收费标准
  private types = EvalTypes

  mounted() {
    this.getFees()
  }

  // 获取收费标准
  private getFees() {
    BasicModule.GetConfig('amount_config_SJTBRW').then(res => {
      if (res) {
        this.feesDetail = JSON.parse(res.value)
        BasicModule.GetConfig('task_detail_type_config').then(result => {
          if (result) {
            console.log(result)
            const _val = JSON.parse(result.value)
            Object.keys(_val).map(key => {
              this.evalDetail.push({
                type: key,
                value: _val[key]
              })
            })
          }
        })
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.fees {
  &-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    display: block;
    margin: 0 0 24px;
  }
}
</style>
