<!--
 * @Date: 2021-04-12 19:12:50
 * @Author: cxa
 * @LastEditors: cxa
 * @LastEditTime: 2021-04-13 19:27:11
 * @FilePath: /danDD/src/components/Category/index.vue
 * @Description:
-->
<template>
  <el-select v-model="selected" :disabled="disabled"  @change="selectChange" clearable>
    <el-option
      v-for="v in options"
      :key="v.id"
      :label="v.name"
      :value="v.id"
    />
  </el-select>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { BasicModule } from '@/store/modules/basic'
import { BusinessModule } from '@/store/modules/business'
@Component({
  name: 'Category'
})
export default class Category extends Vue {
  @Prop({ required: false }) private disabled!: boolean
  @Prop({ required: true }) private type!: string // category:获取类别/shop:获取店铺
  @Prop({ required: false }) private params: any // 获取下拉数据所需参数
  @Prop({ required: false }) private onChange!: Function // 选择后回调处理
  public options = []
  public selected = ''

  mounted() {
    const promise: any = this.getOptions(this.type)
    promise.then((res:any) => {
      this.options = res.list
    })
  }

  // 选择时触发
  private selectChange(val: any) {
    if (this.onChange) {
      this.onChange(val)
    }
  }

  // 获取下拉数据
  private getOptions(type: string) {
    switch (type) {
      case 'category': // 获取类别
        return BasicModule.Category(this.params)
      case 'shop': // 获取店铺列表
        return BusinessModule.GetShop()
    }
  }
}
</script>
