<template>
  <div class="container task-detail">
    <span class="task-detail-title">任务详情</span>
    <el-row type="flex" justify="space-between" class="task-detail-top">
      <span class="task-detail-top-cate">{{ detail.category_name }}</span>
      <div>店铺：{{ detail.shop_name }} | 任务编号：{{ detail.id }} | {{ detail.create_time }} | 状态：{{ detail.status }}</div>
    </el-row>
    <el-tabs v-model="active" type="border-card" @tab-click="handleClick">
      <el-tab-pane label="任务详情" name="first">
        <div class="task-detail-basic">
          <p class="task-detail-basic-t">任务基本信息</p>
          <el-row v-if="detail.goods && detail.goods[0]" type="flex" align="stretch">
            <el-col :span="16">
              <p class="task-detail-basic-t">商品信息</p>
              <el-row>
                <el-col :span="4" class="task-detail-basic-img">
                  <img :src="detail.goods[0].img" />
                </el-col>
                <el-col :span="20" class="task-detail-basic-info">
                  <p>标题：{{ detail.goods[0].title }}</p>
                  <a :href="detail.goods[0].url">链接：{{ detail.goods[0].url }}</a>
                </el-col>
              </el-row>
            </el-col>
            <el-col :span="4">
              <p class="task-detail-basic-t">拍下单价</p>
              <p class="task-detail-basic-info">{{ detail.goods[0].price }}</p>
            </el-col>
            <el-col :span="4">
              <p class="task-detail-basic-t">每单拍下数量</p>
              <p class="task-detail-basic-info">{{ detail.goods[0].num }}</p>
            </el-col>
          </el-row>
          <el-row class="task-type">
            任务类型： {{ detail.category_name }}
          </el-row>
          <el-row v-if="detail.goods && detail.goods[0]" class="task-type">
            商品信息：展示价 {{ detail.goods[0].price }} 元
          </el-row>
        </div>
        <el-table
          :data="detail.detail"
          border
          stripe
          class="task-table"
        >
          <el-table-column label="任务类型" prop="type">
            <template slot-scope="scope">
              <span>{{ taskTypes[scope.row.type] }}</span>
            </template>
          </el-table-column>
          <el-table-column label="下单关键词" prop="keywords"></el-table-column>
          <el-table-column label="备用关键词" prop="keywords2"></el-table-column>
          <el-table-column label="任务单数" prop="num"></el-table-column>
        </el-table>
        <div class="task-plan">
          <p class="task-plan-title">放单计划</p>
          <el-row v-for="(v, i) in plan" :key="i" class="task-plan-list">
            放单计划：从 {{ v.start }} 开始，每隔 {{ v.interval_min }} 分钟放出 {{ v.num }} 单 ，共放 {{ v.total }} 单
          </el-row>
        </div>
        <!-- <div class="task-addition">
          <p class="task-plan-title">商家附加要求</p>
          <el-row type="flex">
            <img />
          </el-row>
        </div> -->
      </el-tab-pane>
      <el-tab-pane label="费用详情" name="second">
        <el-table :data="payDetail" border stripe>
          <el-table-column label="类型" prop="type">
            <template slot-scope="scope">
              <span>{{ taskTypes[scope.row.type] }}</span>
            </template>
          </el-table-column>
          <el-table-column label="本金" prop="goods_amount"></el-table-column>
          <el-table-column label="基础服务费" prop="base_serv_amount"></el-table-column>
          <el-table-column label="平台服务费" prop="platform_serv_amount"></el-table-column>
          <el-table-column label="附加服务费" prop="addition_serv_amount"></el-table-column>
          <el-table-column label="运费" prop="shipping_amount"></el-table-column>
          <el-table-column label="任务数" prop="total"></el-table-column>
          <el-table-column label="小计">
            <template slot-scope="scope">
              <span>{{ scope.row.amount * scope.row.total }}</span>
            </template>
          </el-table-column>
        </el-table>
        <el-row type="flex" justify="end" class="total-amount">
          <label>合计金币：<span>{{ total }}</span> 元</label>
        </el-row>
        <el-row type="flex" justify="end" class="total-amount">
          <label>合计单数：<span>{{ totalNum }}</span> 单</label>
        </el-row>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
// modules
import { TaskModule } from '@/store/modules/task'
// const
import { EvalTypes } from '@/utils/const'

@Component({
  name: 'TaskDetail'
})
export default class TaskDetail extends Vue {
  private taskTypes = EvalTypes

  private payDetail: Array<any> = [] // 收费明细
  private detail = {} // 任务详情
  private active = 'first'

  private total = 0 // 合计
  private totalNum = 0 // 总单数

  private plan = [] // 放单计划

  mounted() {
    const id = this.$route.query.id
    TaskModule.TaskDetail(id).then(res => {
      if (res) {
        this.detail = res
        this.plan = JSON.parse(res.publish_config)
        const arr:Array<any> = []
        const pushedArr:Array<string> = []
        let wordsNum = 0
        let imgNum = 0
        let videoNum = 0
        res.detail && res.detail.map((v:any) => {
          if (v.type === 'words') {
            wordsNum += Number(v.num)
          } else if (v.type === 'img') {
            imgNum += Number(v.num)
          } else if (v.type === 'video') {
            videoNum += Number(v.num)
          }
          if (!v.flag && !pushedArr.includes(v.type)) {
            arr.push(v)
            v.flag = true
            pushedArr.push(v.type)
          }
        })
        arr.map((v:any) => {
          if (v.type === 'words') {
            v.total = wordsNum
          } else if (v.type === 'img') {
            v.total = imgNum
          } else {
            v.total = videoNum
          }
          this.total += v.amount * v.total
          this.totalNum += v.total
        })
        this.payDetail = arr
      }
    })
  }

  private handleClick() {
    //
  }
}
</script>
<style lang="scss" scoped>
.task-detail {
  &-title {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-left: 3px solid #1890ff;
    padding-left: 8px;
    margin-bottom: 16px;
    display: block;
  }
  &-top {
    padding: 16px 0;
    border-top: 1px solid #ddd;
    margin-bottom: 24px;
    &-cate {
      color: #333;
      font-weight: bold;
    }
  }
  &-basic {
    border: 1px solid #ddd;
    &-t {
      color: #333;
      background: rgba(156, 156, 156, .1);
      margin: 0;
      padding: 16px;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 14px;
      font-weight: bold;
    }
    &-img {
      border-right: 1px solid #ddd;
      padding: 24px;
      height: 130px;
      box-sizing: border-box;
      img {
        width: 80px;
        height: 80px;
      }
    }
    &-info {
      padding: 24px;
      border-right: 1px solid #ddd;
      height: 130px;
      margin: 0;
      text-align: center;
    }
  }
  .task-type {
    border-top: 1px solid #ddd;
    padding: 8px 32px;
  }
  .task-table {
    margin-top: 20px;
  }
  .mt16 {
    margin-top: 16px;
  }
  .task-plan {
    margin-top: 16px;
    &-title {
      color: #333;
      background: rgba(156, 156, 156, .1);
      padding: 8px 16px;
      margin: 0;
      border: 1px solid #ddd;
      font-size: 14px;
      font-weight: bold;
    }
    &-list {
      padding: 8px 16px;
      border: 1px solid #ddd;
      border-top: none;
    }
  }
  .task-addition {
    margin-top: 16px;
  }
  .total-amount {
    color: #333;
    font-size: 14px;
    margin: 16px 0;
    span {
      color: #ff4949;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
</style>
