<!--
 * @Date: 2021-04-14 18:08:18
 * @Author: cxa
 * @LastEditors: cxa
 * @LastEditTime: 2021-04-16 14:36:29
 * @FilePath: /danDD/src/views/task/index.vue
 * @Description:
-->
<template>
  <div class="container">
    <el-steps :active="active" finish-status="finish">
      <el-step v-for="v in steps" :key="v.key" :title="v.title"></el-step>
    </el-steps>
    <component
      :is="`step${active === 0 ? '1' : active === 1 ? '2' : '3'}`"
      :ref="`step${active === 0 ? '1' : active === 1 ? '2' : '3'}`"
    />
    <el-button v-if="active < 2" @click="next()" type="primary" class="nextBtn">下一步</el-button>
    <!-- 第三步弹窗 -->
    <el-dialog
      title="确认支付"
      :visible.sync="show"
    >
      <div class="step3">
        <div class="step3-title">
          <span>任务信息</span>
        </div>
        <el-row type="flex" class="step3-detail">
          <label>类型：</label>
          <div>{{ taskInfo.category_name }}</div>
        </el-row>
        <el-row type="flex" class="step3-detail">
          <label>店铺：</label>
          <div>{{ taskInfo.shop_name }}</div>
        </el-row>
        <el-row type="flex" class="step3-detail">
          <label>返款：</label>
          <div>平台，立返</div>
        </el-row>
        <el-row type="flex" class="step3-detail">
          <label>商品标题：</label>
          <div>{{ taskInfo.goods && taskInfo.goods[0] && taskInfo.goods[0].title }}</div>
        </el-row>
        <div class="step3-title">
          <span>收费明细</span>
        </div>
        <el-table :data="payDetail" border stripe>
          <el-table-column label="类型" prop="type">
            <template slot-scope="scope">
              <span>{{ typeArr[scope.row.type] }}</span>
            </template>
          </el-table-column>
          <el-table-column label="本金" prop="goods_amount"></el-table-column>
          <el-table-column label="基础服务费" prop="base_serv_amount"></el-table-column>
          <el-table-column label="平台服务费" prop="platform_serv_amount"></el-table-column>
          <el-table-column label="附加服务费" prop="addition_serv_amount"></el-table-column>
          <el-table-column label="运费" prop="shipping_amount"></el-table-column>
          <el-table-column label="任务数" prop="total"></el-table-column>
          <el-table-column label="小计">
            <template slot-scope="scope">
              <span>{{ scope.row.amount * scope.row.total }}</span>
            </template>
          </el-table-column>
        </el-table>
        <el-row type="flex" justify="end" class="total-amount">
          <label>合计：<span>{{ total }}</span> 元</label>
        </el-row>
        <el-row type="flex" justify="center" class="mt-8">
          <!-- <el-button type="primary" @click="backFn()">上一步</el-button> -->
          <el-button type="primary" size="mini" @click="sendFn()">确认发布</el-button>
          <el-button type="primary" size="mini" @click="saveFn()">保存待支付</el-button>
        </el-row>
      </div>
    </el-dialog>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
// components
import Step1 from './steps/step1.vue'
import Step2 from './steps/step2.vue'
import Step3 from './steps/step3.vue'
// modules
import { TaskModule } from '@/store/modules/task'
// const
import { EvalTypes } from '@/utils/const'

@Component({
  name: 'Tasks',
  components: {
    Step1,
    Step2,
    Step3
  }
})
export default class Tasks extends Vue {
  private typeArr = EvalTypes

  private total = 0 // 合计

  private taskInfo:any = {} // 任务信息

  private payDetail: Array<any> = [] // 收费明细

  private show = false // 确认支付弹窗
  private active = Number(this.$route.params.id) || 0
  private steps = [
    { title: '选择类型', key: 'type' },
    { title: '填写信息', key: 'info' },
    // { title: '确认支付', key: 'confirm' },
    { title: '发布成功', key: 'success' }
  ]

  // 保存待支付
  private saveFn() {
    this.$router.push('/task/list')
  }

  // 确认发布
  private sendFn() {
    const payload = {
      id: this.taskInfo.id,
      status: 'paid'
    }
    TaskModule.TaskStatus(payload).then(res => {
      if (res) {
        this.$router.push('/task/index/3')
      }
    })
  }

  private next() {
    if (this.active === 0) {
      this.active++
      this.$router.push('/task/index/' + this.active++)
    }
    if (this.active === 1) {
      const { task, goods, taskTypes, time, overtime, $refs, timeType } = this.$refs.step2 as any
      const shopId = localStorage.getItem('shopid')
      const categoryId = localStorage.getItem('cateid')
      let detail:Array<any> = []
      taskTypes.map((v:any) => {
        if (v.checked) {
          if (v.key === 'normal') {
            v.list.map((item: any) => {
              item.type = 'normal'
              detail.push(item)
            })
          }
          detail = [...detail, ...v.task_detail]
        }
      })
      const addrCodes = $refs.addressDom.cityCodes
      const addrNames = $refs.addressDom.cityNames
      const publishConfig = {
        type: timeType,
        plan: time
      }
      const payload = {
        task: {
          ...task,
          shop_id: shopId,
          category_id: categoryId,
          publish_config: JSON.stringify(publishConfig),
          closing_date: task.closing_date === 'n' ? overtime : task.closing_date,
          province_id: addrCodes[0],
          province: addrNames[0],
          city_id: addrCodes[1],
          city: addrNames[1]
        },
        goods,
        detail
      }
      console.log('74', payload)
      TaskModule.AddTask(payload).then(res => {
        if (res) {
          this.taskInfo = {
            ...res.goods[0],
            ...res.task,
            id: res.task && res.task.id
          }
          const arr:Array<any> = []
          const pushedArr:Array<string> = []
          let wordsNum = 0
          let imgNum = 0
          let videoNum = 0
          res.detail && res.detail.map((v:any) => {
            if (v.type === 'words') {
              wordsNum += Number(v.num)
            } else if (v.type === 'img') {
              imgNum += Number(v.num)
            } else if (v.type === 'video') {
              videoNum += Number(v.num)
            }
            if (!v.flag && !pushedArr.includes(v.type)) {
              arr.push(v)
              v.flag = true
              pushedArr.push(v.type)
            }
          })
          arr.map((v:any) => {
            if (v.type === 'words') {
              v.total = wordsNum
            } else if (v.type === 'img') {
              v.total = imgNum
            } else {
              v.total = videoNum
            }
            this.total += Number(v.amount * v.total)
          })
          this.payDetail = arr
          this.show = true
          // this.active++
          // this.$router.push('/task/index/' + this.active++)
        }
      })
    }
  }
}
</script>
<style lang="scss" scoped>
.total-amount {
  color: #333;
  font-size: 14px;
  margin: 16px 0;
  span {
    color: #ff4949;
    font-size: 18px;
    font-weight: bold;
  }
}
</style>
