<template>
  <div class="container task-list">
    <el-form inline>
      <el-form-item label="店铺">
        <Selector ref="shopDom" type="shop" />
      </el-form-item>
      <el-form-item label="类型">
        <Selector ref="categoryDom" type="category" :params="{type: 'task'}" />
      </el-form-item>
      <el-form-item label="状态">
        <el-select v-model="status" clearable>
          <el-option
            v-for="v in statusArr"
            :key="v.key"
            :label="v.label"
            :value="v.key"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="任务编号">
        <el-input v-model="taskId" />
      </el-form-item>
      <el-form-item label="商品链接">
        <el-input v-model="goodsUrl" />
      </el-form-item>
      <el-button type="primary" @click="getList()">搜索</el-button>
    </el-form>
    <el-table
      :data="list"
      border
      stripe
    >
      <el-table-column
        v-for="v in tableData"
        :key="v.prop"
        :label="v.label"
        :prop="v.prop"
        :width="v.width"
      ></el-table-column>
      <el-table-column label="操作" width="200px">
        <template slot-scope="scope">
          <el-button type="primary" size="mini" @click="toDetail(scope.row.id)">查看详情</el-button>
          <el-button v-if="scope.row.status === 'init'" type="warning" size="mini" @click="confirmPay(scope.row.id)">确认支付</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="pagination">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        :page-size="pageSize"
        @current-change="currChange"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
// components
import Selector from '@/components/Selector/index.vue'
// modules
import { TaskModule } from '@/store/modules/task'

@Component({
  name: 'TaskList',
  components: {
    Selector
  }
})
export default class TaskList extends Vue {
  private list = []

  private total = 0 // 总数

  private page = 1 // 页码

  private pageSize = 10 // 每页数量

  private shops = [] // 店铺列表

  private shopId = '' // 选中店铺id

  private status = '' // 任务状态

  private goodsUrl = '' // 商品链接

  private taskId = '' // 任务Id

  private statusArr = [
    { label: '待支付', key: 'init' },
    { label: '待审核', key: 'paid' },
    { label: '审核失败', key: 'fail' },
    { label: '进行中', key: 'running' },
    { label: '已停止', key: 'stop' },
    { label: '已完成', key: 'done' },
    { label: '已撤销', key: 'cancel' }
  ]

  private tableData = [
    { label: '任务编号', prop: 'id' },
    { label: '任务类型', prop: 'category_name' },
    { label: '店铺名称', prop: 'shop_name' },
    { label: '创建时间', prop: 'create_time', width: '150px' },
    { label: '总单数', prop: 'order_count' },
    // { label: '未放出', prop: 'type1', width: '60px' },
    // { label: '待接单', prop: 'type2', width: '60px' },
    // { label: '待审核', prop: 'type3', width: '60px' },
    // { label: '金额审核', prop: 'type4' },
    // { label: '发货返款', prop: 'type5' },
    { label: '状态', prop: 'status_desc' }
    // { label: '待评价', prop: 'type6', width: '60px' },
    // { label: '待确认', prop: 'type7', width: '60px' },
    // { label: '已完成', prop: 'type8', width: '60px' },
    // { label: '已取消', prop: 'type9', width: '60px' }
  ]

  mounted() {
    this.getList()
  }

  // 确认支付二次确认
  private confirmPay(id: string) {
    this.$confirm('确认支付该任务吗？', '提示', {
      confirmButtonText: '确认',
      cancelButtonText: '取消',
      type: 'warning'
    }).then(() => {
      this.payFn(id)
    }).catch(() => {
      this.$message({
        type: 'info',
        message: '已取消支付'
      })
    })
  }

  // 确认支付
  private payFn(id: string) {
    const payload = {
      id,
      status: 'paid'
    }
    TaskModule.TaskStatus(payload).then(res => {
      if (res.code === 0) {
        this.$message.success('支付成功，请等待审核发布')
        this.getList()
      }
    })
  }

  // 修改页码
  private currChange(val: number) {
    this.page = val
    this.getList()
  }

  // 查看详情
  private toDetail(id: string) {
    this.$router.push(`/task/detail?id=${id}`)
  }

  // 获取任务列表
  private getList() {
    const payload = {
      page: this.page,
      page_size: this.pageSize,
      category_id: (this.$refs as any).categoryDom.selected,
      shop_id: (this.$refs as any).shopDom.selected,
      status: this.status,
      goods_url: this.goodsUrl
    }
    TaskModule.TaskList(payload).then(res => {
      if (res) {
        const { count, list } = res
        this.list = list
        this.total = count
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.task-list {
  color: #333;
}
.pagination {
  margin-top: 16px;
  text-align: right;
}
</style>
