<template>
  <div class="container order">
    <el-form inline>
      <el-form-item label="任务店铺">
        <Selector ref="shopDom" type="shop" />
      </el-form-item>
      <!-- <el-form-item label="任务类型">
        <Selector ref="categoryDom" type="category" :params="{type: 'task'}" />
      </el-form-item> -->
      <el-form-item label="任务编号">
        <el-input v-model="form.taskId" placeholder="请输入任务编号" />
      </el-form-item>
      <!-- <el-form-item label="网店订单号">
        <el-input placeholder="请输入网店订单号" />
      </el-form-item> -->
      <!-- <el-form-item label="订单编号">
        <el-input placeholder="请输入订单编号" />
      </el-form-item> -->
      <!-- <el-form-item label="买手编号">
        <el-input placeholder="请输入买手编号" />
      </el-form-item> -->
      <!-- <el-form-item label="接单账号">
        <el-input placeholder="请输入接单账号" />
      </el-form-item> -->
      <!-- <el-form-item label="追评状态">
        <el-select v-model="form.status" placeholder="请输入追评状态" clearable>
          <el-option
            v-for="v in evalStatusArr"
            :key="v.key"
            :label="v.label"
            :value="v.key"
          />
        </el-select>
      </el-form-item> -->
      <el-form-item label="创建时间">
        <el-date-picker
          v-model="form.date"
          type="datetimerange"
          range-separator="至"
          start-placeholder="开始日期"
          end-placeholder="结束日期"
          :default-time="['00:00:00', '23:59:59']"
          value-format="yyyy-MM-dd HH:mm:ss"
        />
      </el-form-item>
      <!-- <el-form-item label="好评类型">
        <el-select v-model="form.eval_type" placeholder="请选择好评类型" clearable>
          <el-option
            v-for="v in taskTypes"
            :key="v.key"
            :label="v.label"
            :value="v.key"
          />
        </el-select>
      </el-form-item> -->
      <el-button type="primary" @click="getList()">搜索</el-button>
      <el-button type="warning" @click="downloadFn()">导出</el-button>
    </el-form>
    <div class="order-tips">
      <p>（1）平台待确认任务确认后系统将会返款佣金给用户，请商家尽快确认；如未及时确认，系统将于24小时自动返款佣金；</p>
      <p>（2）平台待返款发货任务确认后系统将会返款本金给用户，请商家仔细核对确认；如未及时确认，系统将于24小时自动返款本金；</p>
      <p>（3）部分买手存在已付款订单但平台未及时提交造成系统超时撤销订单，请商家务必到 已撤销订单-买手撤销订单 找到系统超时撤销订单主动进行备注避免发货出去造成不必要麻烦。</p>
    </div>
    <el-tabs v-model="activeTab" @tab-click="tabClick" class="order-tabs">
      <el-tab-pane v-for="v in tabsArr" :key="v.name" :label="v.label" :name="v.name">
        <el-table :data="list" border stripe>
          <el-table-column label="订单编号" prop="id"></el-table-column>
          <el-table-column label="接单时间" prop="running_time"></el-table-column>
          <el-table-column label="创建时间" prop="create_time"></el-table-column>
          <el-table-column label="任务编号" prop="task_id"></el-table-column>
          <el-table-column label="买手编号" prop="buyer_id"></el-table-column>
          <el-table-column label="任务店铺" prop="shop_name"></el-table-column>
          <el-table-column label="接单信息" prop="content"></el-table-column>
          <el-table-column label="费用" prop="amount"></el-table-column>
          <el-table-column label="实付" prop="paid_amount"></el-table-column>
          <el-table-column label="评论状态" prop="comment_status_desc"></el-table-column>
          <el-table-column label="订单状态" prop="status_desc"></el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>
    <div class="pagination">
      <el-pagination
        background
        layout="prev, pager, next"
        :total="total"
        :page-size="pageSize"
        @current-change="currChange"
      />
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// components
import Selector from '@/components/Selector/index.vue'
import { TaskModule } from '@/store/modules/task'
@Component({
  name: 'Order',
  components: {
    Selector
  }
})
export default class Order extends Vue {
  private form = { // 检索条件
    taskId: '', // 任务编号
    date: [] // 接单时间
  }

  private page = 1 // 页码
  private pageSize = 10 // 每页数量
  private total = 0 // 列表总数
  private activeTab = '' // 当前tab
  private list = [] //  订单列表
  private evalStatusArr = [ // 追评状态
    { label: '无', key: '' },
    { label: '待追评', key: 'eval' },
    { label: '待确认', key: 'confirm' },
    { label: '已追评', key: 'finish' },
    { label: '已取消', key: 'cancel' }
  ]

  private taskTypes = [ // 好评类型
    { label: '全部', key: '' },
    { label: '普通任务', key: 'normal' },
    { label: '指定文字好评任务', key: 'word' },
    { label: '指定图片好评任务', key: 'pic' },
    { label: '指定视频好评任务', key: 'video' }
  ]

  private tabsArr = [ // tab列表
    { label: '全部', name: '' },
    { label: '待发布', name: 'init' },
    { label: '已发布', name: 'publish' },
    { label: '进行中', name: 'running' },
    { label: '已发货', name: 'send' },
    { label: '已完成', name: 'done' }
  ]

  mounted() {
    this.getList()
  }

  // 导出
  private downloadFn() {
    const { date, taskId } = this.form
    const { page, pageSize, activeTab } = this
    const params = {
      task_id: taskId,
      page: page,
      page_size: pageSize,
      status: activeTab === '0' ? '' : activeTab,
      shop_id: (this.$refs as any).shopDom.selected,
      create_time_start: date[0],
      create_time_end: date[1],
      export: 1
    }
    TaskModule.ExportOrder(params).then(res => {
      if (res) {
        const url = window.URL.createObjectURL(new Blob([res]))
        const link = document.createElement('a')
        const filename = window.localStorage.getItem('filename') || 'excel.csv'
        link.style.display = 'none'
        link.href = url
        link.setAttribute('download', filename)
        document.body.appendChild(link)
        link.click()
      }
    })
  }

  // 修改页码
  private currChange(val: number) {
    this.page = val
    this.getList()
  }

  // 点击tab
  private tabClick(tab: any) {
    console.log(128, tab)
    this.getList()
  }

  // 获取订单列表
  private getList(_export = 0) {
    const { date, taskId } = this.form
    const { page, pageSize, activeTab } = this
    const params = {
      task_id: taskId,
      page: page,
      page_size: pageSize,
      status: activeTab === '0' ? '' : activeTab,
      shop_id: (this.$refs as any).shopDom.selected,
      create_time_start: date[0],
      create_time_end: date[1],
      export: _export
    }
    TaskModule.Order(params).then(res => {
      if (res) {
        const { list, count } = res
        this.list = list
        this.total = count
      }
    })
  }
}
</script>
<style lang="scss" scoped>
.order {
  &-tips {
    p {
      color: $red;
      font-size: 13px;
    }
    border: 1px solid $red;
    border-radius: 8px;
    padding: 4px 8px;
    background: rgba(192, 54, 57, .1);
  }
  &-tabs {
    margin-top: 16px;
  }
  .pagination {
    margin-top: 16px;
    text-align: right;
  }
}
</style>
