<template>
  <div class="container refund">
    <el-form inline>
      <el-form-item label="任务店铺">
        <Selector ref="shopDom" type="shop" />
      </el-form-item>
      <el-form-item label="任务类型">
        <Selector ref="categoryDom" type="category" :params="{type: 'task'}" />
      </el-form-item>
    </el-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
// components
import Selector from '@/components/Selector/index.vue'
@Component({
  name: 'RefundOrder',
  components: {
    Selector
  }
})
export default class RefundOrder extends Vue {
  private shops = [] // 店铺列表
  private form = {
    shop_id: '', // 店铺id
    category_id: '' // 任务类型id
  }
}
</script>
<style lang="scss" scoped>
.refund {

}
</style>
