<template>
  <div>
    <el-cascader
      v-model="cityCodes"
      :options="city"
      @change="handleChange"
      :style="{width: width}"
    />
  </div>
</template>
<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
const cityData = require('@bang88/china-city-data')
@Component({
  name: 'Address'
})
export default class Address extends Vue {
  @Prop({ default: '' }) private width!: string
  @Prop({ default: 3 }) private level!: number

  private city = cityData
  private cityCodes = []
  private cityNames: Array<string> = []
  mounted() {
    // console.log('cityData: ---->', cityData, this.level)
    // let _city:Array<any> = []
    // cityData.map((v:any) => {
    //   console.log('cityDataItem: ', v)
    //   v.children && v.children.map((c:any) => {
    //     if (this.level === 2) {
    //       c = {
    //         label: c.label,
    //         value: c.value
    //       }
    //     }
    //   })
    //   _city.push(v)
    // })
    // console.log('_city: --->', _city)
    // this.city = cityData
  }

  private handleChange(val: any) {
    this.getProvinceName(val)
  }

  // 获取省市名称
  private getProvinceName(value: Array<string>) {
    console.log(this.level)
    const _arr:Array<string> = []
    cityData.map((v: any) => {
      if (v.value === value[0]) {
        _arr.push(v.label)
        v.children && v.children.map((item: any) => {
          if (item.value === value[1]) {
            _arr.push(item.label)
            item.children && item.children.map((j: any) => {
              if (j.value === value[2]) {
                _arr.push(j.label)
              }
            })
          }
        })
      }
    })
    this.cityNames = _arr
  }
}
</script>
<style lang="scss">
.cascader {
  // width: 400px;
}
</style>
