<template>
  <div>
    <el-form
      ref="form"
      :model="form"
      inline
      label-width="120px"
    >
      <el-form-item
        v-for="v in psdForm"
        :key="v.key"
        :label="v.label"
        style="width: 100%"
      >
        <el-input style="width: 280px" :placeholder="v.placeholder" />
      </el-form-item>
      <el-row
        type="flex"
        justify="end"
      >
        <el-button type="primary">保存</el-button>
      </el-row>
    </el-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component({
  name: 'ChangePsd'
})
export default class ChangePsd extends Vue {
  private psdForm = [
    { label: '原密码', key: 'old', placeholder: '请输入原密码' },
    { label: '新密码', key: 'new', placeholder: '请输入新密码' },
    { label: '确认密码', key: 'confirm', placeholder: '请确认密码' }
  ]
}
</script>
