<template>
  <div>
    <el-form
      ref="form"
      :model="form"
      inline
      label-width="120px"
    >
      <el-form-item
        v-for="v in infoForm"
        :key="v.key"
        :label="v.label"
      >
        <el-input />
      </el-form-item>
      <el-row
        type="flex"
        justify="end"
      >
        <el-button type="primary">保存</el-button>
      </el-row>
    </el-form>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
@Component({
  name: 'EditInfo'
})
export default class EditInfo extends Vue {
  private infoForm = [
    { label: '联系人姓名', key: 'user_name' },
    { label: '联系人手机', key: 'user_mobile' },
    { label: '联系人微信', key: 'user_wx' },
    { label: '联系人QQ名', key: 'user_qq' },
    { label: '所属类目', key: 'category' },
    { label: '所在城市', key: 'city' }
  ]

  private form = {}
  //  @Prop({ default: false }) private show!: boolean
  //  mounted() {
  //    console.log(this.show)
  //  }
}
</script>
