<template>
  <div class="dashboard-container">
    <el-card class="info">
      <el-row type="flex" align="middle">
        <p class="info-item">可用余额：<span>{{ userInfo.amount }}</span>元</p>
        <p class="info-item">冻结资金：<span>{{ userInfo.frozen_amount }}</span>元</p>
        <a class="info-btn" @click="toFinancial()">查看资金明细</a>
      </el-row>
      <el-row>
        <p class="info-item">店铺数：<span>{{ userInfo.shop_count }}/10</span>（已用/上限）</p>
      </el-row>
    </el-card>
    <el-card class="notice">
      <el-row
        type="flex"
        slot="header"
        justify="space-between"
        align="middle"
        class="notice-title"
      >
        <span>商家公告</span>
        <el-button type="primary" size="mini">更多</el-button>
      </el-row>
      <div class="notice-list">
        <el-row
          v-for="v in notices"
          :key="v.id" type="flex"
          justify="space-between"
          class="notice-list-item"
        >
          <span>{{ v.title }}</span>
          <label>{{ v.date }}</label>
        </el-row>
      </div>
    </el-card>
    <el-card class="store">
      <el-row
        slot="header"
        type="flex"
        justify="space-between"
        align="center"
        class="store-title"
      >
        <span>商家基本信息</span>
        <div>
          <el-button size="mini" type="danger" @click="showEdit('edit-info')">编辑信息</el-button>
          <el-button size="mini" type="danger" @click="showEdit('change-psd')">修改密码</el-button>
        </div>
      </el-row>
      <el-row class="store-infos">
        <el-col
          v-for="v in storeInfo"
          :key="v.key"
          :span="12"
          class="store-infos-item"
        >
          <label>{{ v.label }}：</label>
          <span>{{ 'infos' }}</span>
        </el-col>
      </el-row>
    </el-card>
    <el-dialog
      :visible.sync="show"
      :title="dialogComponent === 'edit-info' ? '编辑信息' : '修改密码'"
      :width="dialogComponent !== 'edit-info' ? '520px' : '50%'"
    >
      <component :is="dialogComponent"/>
    </el-dialog>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import EditInfo from './editInfo.vue'
import ChangePsd from './changePsd.vue'
import { UserModule } from '@/store/modules/user'
@Component({
  name: 'Dashboard',
  components: {
    EditInfo,
    ChangePsd
  }
})
export default class DashBoard extends Vue {
  private currentRole = 'admin-dashboard'
  private notices = [ // 公告列表
    { title: '公告公告公告公告公告公告', date: '2021-01-01', id: 1 },
    { title: '公告公告公告公告公告公告2222', date: '2021-01-02', id: 2 }
  ]

  private storeInfo = [ // 商家信息
    { label: '联系人姓名', key: 'user_name' },
    { label: '联系人手机', key: 'user_mobile' },
    { label: '联系人QQ', key: 'user_qq' },
    { label: '联系人微信', key: 'user_wx' },
    { label: '所属类目', key: 'category' },
    { label: '所在城市', key: 'city' }
  ]

  private show = false // 弹窗显隐
  private dialogComponent = '' // 区分弹窗内容显示
  private userInfo: any = {} // 商家信息

  get roles() {
    return UserModule.roles
  }

  created() {
    if (!this.roles.includes('admin')) {
      this.currentRole = 'editor-dashboard'
    }
  }

  mounted() {
    //
    UserModule.GetUser().then(res => {
      if (res) {
        this.userInfo = res
      }
    })
  }

  // 查看资金明细
  private toFinancial() {
    this.$router.push('/financial/details')
  }

  showEdit(type: string) {
    this.show = true
    this.dialogComponent = type
  }
}
</script>
<style lang="scss" scoped>
.dashboard-container {
  margin: 24px;
  .info {
    color: red;
    &-item {
      margin-right: 48px;
      span {
        font-size: 24px;
        font-weight: bold;
        padding-right: 4px;
      }
    }
    &-btn {
      color: blue;
      cursor: pointer;
    }
  }
  .notice {
    margin-top: 24px;
    &-title {
      color: #333;
      font-size: 18px;
      font-weight: bold;
    }
    &-list {
      &-item {
        color: #333;
        padding: 8px 0;
        border-bottom: 1px solid #ededed;
        margin-bottom: 8px;
        span {
          font-size: 16px;
        }
      }
    }
  }
  .store {
    margin-top: 24px;
    &-title {
      color: #333;
      font-size: 18px;
      font-weight: bold;
    }
    &-infos {
      &-item {
        margin-top: 16px;
        &:last-child {
          margin-bottom: 16px;
        }
        label {
          color: #666;
          font-size: 16px;
          width: 240px;
          display: inline-block;
          text-align: right;
        }
        span {
          color: #333;
          font-size: 16px;
        }
      }
    }
  }
}
</style>
