<template>
  <div class="register">
    <div class="register-content">
      <h5 class="register-title">欢迎新商家注册</h5>
      <el-form ref="registerForm">
        <el-row :gutter="20">
          <el-col :span="12" v-for="v in formData" :key="v.key">
            <el-form-item>
              <el-row type="flex">
                <el-input :placeholder="v.placeholder" v-model="registerForm[v.key]" />
                <img v-if="v.key === 'code'" src="@/assets/404-images/404.png" class="img-code" />
                <el-button type="primary" v-if="v.key === 'valid_code'" class="send-sms">获取短信验证码</el-button>
              </el-row>
            </el-form-item>
          </el-col>
        </el-row>
        <el-checkbox v-model="registerForm.checked">
          <p class="agreement">我已阅读并同意<a>《商家注册》</a></p>
        </el-checkbox>
        <el-row>
          <el-button type="primary" class="submit-btn" @click="registerFn()">提交注册</el-button>
        </el-row>
        <div class="to-login">
          <a @click="$router.push('/login')">已有账户，前往登录</a>
        </div>
      </el-form>
    </div>
  </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'
import { UserModule } from '@/store/modules/user'

@Component({
  name: 'Register'
})
export default class Register extends Vue {
  private name = 'ddd'

  private registerForm = {
    mobile: '', // 手机号码
    invite_code: '', // 邀请码
    code: '', // 图形验证码
    valid_code: '', // 短信验证码
    password: '', // 密码
    psdConfirm: '', // 确认密码
    wechat: '', // 微信号
    qq: '', // QQ号
    checked: ''
  }

  private formData = [
    { placeholder: '手机号码', key: 'mobile' },
    { placeholder: '邀请码', key: 'invite_code' },
    { placeholder: '验证码', key: 'code' },
    { placeholder: '短信验证码', key: 'valid_code' },
    { placeholder: '设置密码', key: 'password' },
    { placeholder: '确认密码', key: 'psdConfirm' },
    { placeholder: '微信号', key: 'wechat' },
    { placeholder: 'QQ', key: 'qq' }
  ]

  private async registerFn() {
    console.log(this.registerForm)
    const { mobile, password, valid_code: validCode, invite_code: inviteCode } = this.registerForm
    await UserModule.Register({ mobile, password, valid_code: validCode, invite_code: inviteCode }).then(res => {
      console.log('res: ---->', res)
      if (res) {
        this.$message.success('注册成功')
        this.$router.push('/login')
      }
    })
  }
}
</script>
<style lang="scss">
.register {
  padding: 48px;
  overflow: scroll;
  &-title {
    text-align: center;
    font-size: 24px;
    margin: 16px 0 32px;
  }
  &-content {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 1px 2px 10px #bbb;
    .img-code {
      width: 100px;
      height: 32px;
      border: 1px solid #ddd;
      margin-left: 8px;
    }
    .send-sms {
      margin-left: 8px;
    }
    .agreement {
      color: #666;
      a {
        color: #1890ff;
      }
    }
    .submit-btn {
      width: 100%;
    }
    .to-login {
      text-align: center;
      padding: 24px 16px;
      a {
        color: #666;
        cursor: pointer;
      }
    }
  }
}
</style>
